<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">ACTIVOS FIJOS</h3>
        <div>
            <form name="formularioFiltroActivosFijos" novalidate ng-submit="buscarActivos()">
                <fieldset>
                    <br>
                    <legend>Filtro de Activos</legend>
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td>

                                </td>
                                <td>
                                    <label>Mes</label>
                                </td>
                                <td>
                                    <label>Año</label>
                                </td>
                                <td></td>

                                <td>
                                    <label> Sub Totales</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    PERIODO
                                </td>
                                <td>
                                    <select required id="mesFiltroActivosFijos" name="mesFiltroActivosFijos" ng-options="mes as mes.nombre for mes in mesesFiltro track by mes.id"
                                        ng-model="filtro.mes">
                                        <option value="" selected>TODOS</option>
                                    </select>
                                </td>
                                <td>
                                    <select required id="anioFiltroActivosFijos" name="anioFiltroActivosFijos" ng-options="anio as anio.nombre for anio in anios track by anio.id"
                                        ng-model="filtro.anio">
                                        <option value="" selected>TODOS</option>
                                    </select>
                                </td>
                                <td>
                                    <div class=" container-fluid">
                                        <button type="submit" class="btn btn-app btn-primary btn-xs">
                                            <i class="ace-icon fa fa-search align-top bigger-100"></i>
                                            Filtrar
                                        </button>
                                        <button type="submit" class="btn btn-app btn-danger btn-xs">
                                            <i class="ace-icon fa fa-print align-top bigger-100"></i>
                                            PDF
                                        </button>
                                        <button type="submit" class="btn btn-app btn-success btn-xs">
                                            <i class="ace-icon fa fa-print align-top bigger-100"></i>
                                            Excel
                                        </button>
                                    </div>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>
                                    <label>Sub grupo</label>
                                </td>
                                <td>
                                    <label>Código</label>
                                </td>
                                <td>
                                    <label>Activo</label>
                                </td>
                                <td>
                                    <label>Vida útil</label>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    FILTRO
                                </td>
                                <td>
                                    <select class="form-control" style="width:150px;" ng-change="filtrarProductosSeleccionadosPorGrupo()" id="selectGruposProductos"
                                        name="selectGruposProductos" ng-model="filtro.subgrupo" ng-options="subGrupo as subGrupo.nombre for subGrupo in subGruposProducto track by subGrupo.id"
                                        data-placeholder="Click para escoger">
                                        <option value="" selected>Todos</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="filtro-activos-codigo" id="filtro-activos-codigo" ng-model="filtro.codigo">
                                </td>
                                <td style="max-width: 20%; width: 20%">
                                    <input type="text" name="filtro-activos-activo" id="filtro-activos-activo" ng-model="filtro.activo">
                                </td>
                                <td>
                                    <input type="text" name="filtro-vida-util" id="filtro-vida-util" ng-model="filtro.vida_util">
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Cuadro de activos fijos
            <style type="text/css" scoped>
                .dropdown-menu {
                    min-width: 400px !important;
                }
            </style>
            <label class="pull-right">
                <div class="col-xs-10" ng-include src="'/templates/gral/fields-viewer.html'"></div>
            </label>
            <label class="pull-right" data-rel="tooltip" tooltip-placement="top" uib-tooltip="Configuración">
                <a class="blue" ng-click="abrirConfiguracionActivos()">
                    <i class="ace-icon fa fa-cogs text-white bigger-130"></i>
                </a>
            </label>
        </div>
        <div id="tabla-activos-fijos" class="dataTables_wrapper form-inline no-footer">
            <div class="row" ng-include src="'/templates/gral/paginator-header-2.html'">
            </div>
            <table id="tabla-activos" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th class="center" ng-if="fieldViewer.getConfiguration().numero.show">
                            N°
                        </th>
                        <th ng-if="fieldViewer.getConfiguration().activo.show">Activo</th>
                        <th ng-if="fieldViewer.getConfiguration().codigo.show">Código</th>
                        <th ng-if="fieldViewer.getConfiguration().cantidad.show">Cantidad</th>
                        <th class="hidden-480" ng-if="fieldViewer.getConfiguration().mes.show">Mes</th>
                        <th class="hidden-480" ng-if="fieldViewer.getConfiguration().anio.show">Año</th>
                        <th ng-if="fieldViewer.getConfiguration().fecha_ingreso.show">Fecha Ingr.</th>
                        <th ng-if="fieldViewer.getConfiguration().valor.show">Valor</th>
                        <th ng-if="fieldViewer.getConfiguration().actualizacion.show">Act.</th>
                        <th ng-if="fieldViewer.getConfiguration().valor_actualizado.show">Total A.</th>
                        <th ng-if="fieldViewer.getConfiguration().depreciacion_acumulada.show">Dep. A</th>
                        <th ng-if="fieldViewer.getConfiguration().actualizacion_depreciacion_acumulada.show">A. D.A.</th>
                        <th ng-if="fieldViewer.getConfiguration().depreciacion_acumulada_actualizada.show">Dep Act.</th>
                        <th ng-if="fieldViewer.getConfiguration().depreciacion_mes.show">Dep. M.</th>
                        <th ng-if="fieldViewer.getConfiguration().total_depreciacion.show">Total Dep.</th>
                        <th ng-if="fieldViewer.getConfiguration().valor_neto.show">Valor Net.</th>
                        <th ng-if="fieldViewer.getConfiguration().vida_util.show">Vida U.</th>
                        <th ng-if="fieldViewer.getConfiguration().vida_restante.show">Vida R.</th>
                        <th ng-if="fieldViewer.getConfiguration().revaluado.show">Revaluó</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="activoFijo in activosFijos">
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td class="center" ng-if="fieldViewer.getConfiguration().numero.show"> {{$index+1}}
                        </td>
                        <td ng-if="fieldViewer.getConfiguration().activo.show">{{activoFijo.activo.nombre}}</td>
                        <td ng-if="fieldViewer.getConfiguration().codigo.show">{{activoFijo.activo.codigo}}</td>
                        <td ng-if="fieldViewer.getConfiguration().cantidad.show && activoFijo.activo.inventarios.length > 0">{{activoFijo.activo.inventarios[0].cantidad}}</td>
                        <td ng-if="fieldViewer.getConfiguration().cantidad.show && activoFijo.activo.inventarios.length === 0">
                            <label class="bg-red">&nbsp;Este item no tiene inventario&nbsp;</label>
                        </td>
                        <td class="hidden-480" ng-if="fieldViewer.getConfiguration().mes.show">{{activoFijo.valores[0].mes}}</td>
                        <td class="hidden-480" ng-if="fieldViewer.getConfiguration().anio.show">{{activoFijo.valores[0].anio}}</td>
                        <td ng-if="fieldViewer.getConfiguration().fecha_ingreso.show">{{activoFijo.fecha_ingreso | date : "dd/MM/yyyy"}}</td>
                        <td ng-if="fieldViewer.getConfiguration().valor.show">{{activoFijo.valores[0].valor | number:2}}</td>
                        <td ng-if="fieldViewer.getConfiguration().actualizacion.show">{{activoFijo.valores[0].incremento_actualizacion | number:2}}</td>
                        <td ng-if="fieldViewer.getConfiguration().valor_actualizado.show">{{activoFijo.valores[0].valor_actualizado | number:2}}</td>
                        <td ng-if="fieldViewer.getConfiguration().depreciacion_acumulada.show">{{activoFijo.valores[0].depreciacion_acumulada | number:2}}</td>
                        <td ng-if="fieldViewer.getConfiguration().actualizacion_depreciacion_acumulada.show">{{activoFijo.valores[0].incremento_actualizacion_depreciacion_acumulada | number:2}}</td>
                        <td ng-if="fieldViewer.getConfiguration().depreciacion_acumulada_actualizada.show">{{activoFijo.valores[0].depreciacion_acumulada_actualizada | number:2}}</td>
                        <td ng-if="fieldViewer.getConfiguration().depreciacion_mes.show">{{activoFijo.valores[0].depreciacion | number:2}}</td>
                        <td ng-if="fieldViewer.getConfiguration().total_depreciacion.show">{{activoFijo.valores[0].total_depreciacion_acumulada | number:2}}</td>
                        <td ng-if="fieldViewer.getConfiguration().valor_neto.show">{{activoFijo.valores[0].valor_neto | number:2}}</td>
                        <td ng-if="fieldViewer.getConfiguration().vida_util.show">{{activoFijo.vida_util ? activoFijo.vida_util : 'Sin configurar'}}</td>
                        <td ng-if="fieldViewer.getConfiguration().vida_restante.show">{{activoFijo.vida_restante ? activoFijo.vida_restante : 'Sin configurar'}}</td>
                        <td ng-if="fieldViewer.getConfiguration().revaluado.show">{{activoFijo.revaluado ? 'Sí' : 'No'}}</td>
                        <td>
                            <a class="orange" href="javascript:void(0)" e-disabled="!aplicacion.puede_modificar" ng-click="abrirDialogRevaluarActivo(activoFijo)"
                                data-rel="tooltip" tooltip-placement="top" uib-tooltip="Ver">
                                <i class="ace-icon fa fa-file-text bigger-130"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="blue">
                        <td class="blue center">
                            <b class="pull-right">TOTALES</b>
                        </td>
                        <td class="center" ng-if="fieldViewer.getConfiguration().numero.show">
                        </td>
                        <td ng-if="fieldViewer.getConfiguration().activo.show"></td>
                        <td ng-if="fieldViewer.getConfiguration().codigo.show"></td>
                        <td ng-if="fieldViewer.getConfiguration().cantidad.show"></td>
                        <td class="hidden-480" ng-if="fieldViewer.getConfiguration().mes.show"></td>
                        <td class="hidden-480" ng-if="fieldViewer.getConfiguration().anio.show"></td>
                        <td ng-if="fieldViewer.getConfiguration().fecha_ingreso.show"></td>
                        <td class="blue" ng-if="fieldViewer.getConfiguration().valor.show">
                            <b>{{totalesActivosFijos.totalValores | number: 2 }}</b>
                        </td>
                        <td class="blue" ng-if="fieldViewer.getConfiguration().actualizacion.show">
                            <b>{{totalesActivosFijos.totalActualizacion | number: 2 }}</b>
                        </td>
                        <td class="blue" ng-if="fieldViewer.getConfiguration().valor_actualizado.show">
                            <b>{{totalesActivosFijos.totalActualizado | number: 2 }}</b>
                        </td>
                        <td class="blue" ng-if="fieldViewer.getConfiguration().depreciacion_acumulada.show">
                            <b>{{totalesActivosFijos.totalDepreciacionAcumulada | number: 2 }}</b>
                        </td>
                        <td class="blue" ng-if="fieldViewer.getConfiguration().actualizacion_depreciacion_acumulada.show">
                            <b>{{totalesActivosFijos.totalActualizacionDepreciacionAcumulada | number: 2 }}</b>
                        </td>
                        <td class="blue" ng-if="fieldViewer.getConfiguration().depreciacion_acumulada_actualizada.show">
                            <b>{{totalesActivosFijos.totalDepreciacionActualizada | number: 2 }}</b>
                        </td>
                        <td class="blue" ng-if="fieldViewer.getConfiguration().depreciacion_mes.show">
                            <b>{{totalesActivosFijos.totalDepreciacionMensual | number: 2 }}</b>
                        </td>
                        <td class="blue" ng-if="fieldViewer.getConfiguration().total_depreciacion.show">
                            <b>{{totalesActivosFijos.totalDepreciacion | number: 2 }}</b>
                        </td>
                        <td class="blue" ng-if="fieldViewer.getConfiguration().valor_neto.show">
                            <b>{{totalesActivosFijos.totalNeto | number: 2 }}</b>
                        </td>
                        <!-- <td class="blue" ng-if="fieldViewer.getConfiguration().vida_util.show"></td>
                        <td ng-if="fieldViewer.getConfiguration().vida_restante.show"></td>
                        <td ng-if="fieldViewer.getConfiguration().revaluado.show"></td>
                        <td>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" ng-include src="'/templates/gral/paginator.html'" ng-if="activosFijos.length > 0">
        </div>
    </div>
</div>

<div id="modal-configuracion-activos" class="modal wizard-posicion">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-submit="guardarConfiguracionActivos()">
                <div class="modal-header bg-blue">
                    <h2 class="center">CONFIGURACIÓN</h2>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <label>Sub-Grupo</label>
                                        </th>
                                        <th>
                                            <label>Vida útil</label>
                                        </th>
                                        <th>
                                            <label>Factor %</label>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            &nbsp; &nbsp;
                                            <select class="form-control form-inline" style="width:150px;" ng-change="filtrarProductosSeleccionadosPorGrupo()" id="selectGruposProductos"
                                                name="selectGruposProductos" ng-model="configuracion.subgrupo" ng-options="subgrupo as subgrupo.nombre for subgrupo in subGruposProducto track by subgrupo.id"
                                                data-placeholder="Click para escoger">
                                                <option disabled value="" selected>Seleccione subgrupo</option>
                                            </select>
                                            &nbsp; &nbsp;
                                        </td>
                                        <td>
                                            &nbsp; &nbsp;
                                            <input type="number" class="form-control form-inline" ng-model="configuracion.vida_util"> &nbsp; &nbsp;
                                        </td>
                                        <td>
                                            &nbsp; &nbsp;
                                            <input type="number" class="form-control form-inline" ng-model="configuracion.factor" step="0.05" min="0.05" max="100"> &nbsp; &nbsp;
                                        </td>
                                        <td>
                                            &nbsp; &nbsp;
                                            <button type="button" class=" btn btn-primary btn-xs" ng-click="agregarDetalleConfiguracion(configuracion)">
                                                <i class="fa fa-plus bigger-120"></i>
                                            </button>
                                            &nbsp; &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <table id="tabla-activos" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Sub-Grupo</th>
                                        <th>Vida útil</th>
                                        <th>Factor %</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="configuracion in configuracionActivosFijos">
                                        <td>{{configuracion.subgrupo.nombre}}</td>
                                        <td>{{configuracion.vida_util}}</td>
                                        <td>{{configuracion.factor}}</td>
                                        <td>
                                            <a ng-if="pedido.activo" class="orange" href="javascript:void(0)" ng-click="editar(pedido)">
                                                <i class="ace-icon fa fa-pencil-square-o bigger-130"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer wizard-actions">
                    <button type="submit" class="btn btn-success">GUARDAR</button>
                    <button type="button" ng-click="cerrarConfiguracionActivos()" class="btn btn-danger pull-left">SALIR</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-revaluar-activos" class="modal">
    <div class="modal-dialog">
        <div class="modal-header blue">
            <h2>Revaluar Activo {{activo.activo.nombre}}</h2>
        </div>
        <form ng-submit="revaluarActivo()">
            <div class="modal-body container-fluid">
                <div class="row">
                    <div class="form-group">
                        <div class="md-6">
                            <label for="Valor">Valor</label>
                        </div>
                        <div class="md-6">
                            <input type="number" ng-model="activo.valor_revaluacion" step="0.01">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="md-6">
                            <label for="Depreciacion">Depreciación</label>
                        </div>
                        <div class="md-6">
                            <input type="number" class="form-control" ng-model="activo.depreciacion_acumulada_actual" step="0.01">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="md-6">
                            <label for="Valor">Fecha</label>
                        </div>
                        <div class="md-6">
                            <input type="text" class="date-picker form-control" ng-update-hidden data-date-format="dd/mm/yyyy" ng-model="activo.fecha_revaluacion"
                                step="0.01">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="md-6">
                        <button type="button" class="btn btn-danger" ng-click="cerrarDialogRevaluarActivo()">
                            Cancelar
                        </button>
                    </div>
                    <div class="md-6">
                        <button type="submit" class="btn btn-success">
                            Revaluar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>