<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">COMPROBANTES</h3>

        <button tooltip-popup-delay='10' tooltip-is-open="true" uib-tooltip='Comprobante Recuperado' ng-if="ComprobanteGuardado"
            d="nuevo" ng-disabled="!aplicacion.puede_crear" class="btn btn-app btn-danger btn-xs" ng-click="verComprobante(ComprobanteGuardado)">
            <i class="ace-icon fa fa-exclamation-triangle  align-top bigger-165"></i>
        </button>
        <button id="nuevo" ng-disabled="!aplicacion.puede_crear" class="btn btn-primary" ng-click="crearNuevoComprobante()">
            <i class="ace-icon fa fa-plus align-top bigger-125"></i>
            Nuevo
        </button>
        <div class="fileUpload btn btn-primary btn-success" uib-tooltip="Importación Cambio Moneda">
            <span class="fileUpload-button ace-icon fa fa-cloud-upload align-top bigger-125">&nbsp&nbspImportar</span>
            <input ng-disabled="!aplicacion.puede_crear" class="upload" type="file" custom-on-file-change="subirExcelUfvDolar" />&nbsp&nbsp
        </div>
        <a href="/recursos/EJEMPLO-TIPO-CAMBIO-MONEDA.xlsx" uib-tooltip="Ejemplo Importación Cambio Moneda" class="btn btn-primary btn-danger">
            <i class="ace-icon fa fa-cloud-download align-top bigger-125"></i>
            Ejemplo Importación
        </a>
        <a id="cambioMoneda" href="javascript:void(0)" ng-click="abrirCambioMoneda()" class="tooltip-success" data-rel="tooltip"
            title="Edit">
            <span class="blue">
                <i class="ace-icon fa fa-file-text-o align-top bigger-300"></i>
            </span>
        </a>
        <div class="btn btn-link pull-right">
        <a href="/recursos/EJEMPLO-DATOS-ASIENTOS-CONTABLES.xlsx" class="tooltip-success pull-right" data-rel="tooltip" title="Edit">
            <span class="blue">
                <img height="45" width="45" src="img/bajar-comprobante.png" style="padding-bottom: 5px">
            </span>
        </a>
    </div>
        <div class="fileUpload btn btn-link pull-right" uib-tooltip="Importación Comprobantes">
                <img height="50" width="50" src="img/subir-comprobante.png" style="padding-bottom: 5px">
                <input ng-disabled="!aplicacion.puede_crear" class="upload" type="file" custom-on-file-change="subirExcelComprobantes" />&nbsp&nbsp
            </div>
        
    </div>
    <div class="col-xs-12">
        <form name="formularioFiltroVentas" novalidate ng-submit="paginator.getSearch(paginator.search,filtro,null)">
            <fieldset>
                <legend>Filtro Comprobantes
                </legend>
                <div style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td>

                                </td>
                                <td>
                                    <label>Desde</label>&nbsp
                                </td>
                                <td>
                                    <label>Hasta</label>&nbsp
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>PERIODO</label>&nbsp
                                </td>
                                <td>
                                    <input required ng-update-hidden class="form-control date-picker" type="text" data-date-format="dd/mm/yyyy" id="fechainicio"
                                        ng-model="filtro.inicio" placeholder="Ingrese la fecha inicial" />
                                </td>
                                <td>
                                    <input required ng-update-hidden class="form-control date-picker" type="text" data-date-format="dd/mm/yyyy" id="fechafin"
                                        ng-model="filtro.fin" placeholder="Ingrese la fecha final" /> &nbsp
                                </td>
                                <td>
                                    <button type="submit" ng-disabled="formularioFiltroVentas.$invalid" class="btn btn-primary">
                                        <i class="ace-icon fa fa-plus align-top bigger-125"></i>
                                        Filtrar
                                    </button>
                                    <button id="pdf" ng-disabled="!ventas" class="btn btn-app btn-danger btn-xs" ng-click="imprimirFiltroCajaCartaOficio(ventas)">
                                        <i class="ace-icon fa fa-print bigger-160"></i>
                                        PDF
                                    </button>
                                    <!-- ng-disabled="!ventas"-->
                                    <button id="pdf" class="btn btn-app btn-success btn-xs" ng-click="imprimirFiltroExcelCajaCartaOficio()">
                                        <i class="ace-icon fa fa-print bigger-160"></i>
                                        Excel
                                    </button>

                                </td>
                                <td>
                                    <div>Bimonetario
                                        <input name="switch-field-1" class="ace ace-switch ace-switch-4 ng-valid ng-dirty ng-valid-parse ng-not-empty ng-touched"
                                            type="checkbox" ng-model="opcionBimonetario2">
                                        <span class="lbl check-descuento"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp
                                </td>
                                <td>
                                    <label>Monto</label>&nbsp
                                </td>
                                <td>
                                    <label>Tipo de Comprobante</label>&nbsp
                                </td>
                                <td>
                                    <label>Sucursal</label>&nbsp
                                </td>
                                <td>
                                    <label>Usuario</label>&nbsp
                                </td>
                                <td>
                                    <label>Nro. Comprobante</label>&nbsp
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    FILTRO
                                </td>
                                <td>
                                    <input type="number" step="0.01" ng-model="filtro.monto">
                                </td>
                                <td>
                                    <select id='id_tipo' ng-model='filtro.tipo_comprobante' data-placeholder="Click para escoger" class="col-sm5" ng-options="cuentaTipo.id as cuentaTipo.nombre for cuentaTipo in tiposComprobantes">
                                        <option value="">--ninguno--</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="sucursal" name="sucursal" ng-model="filtro.sucursal" data-placeholder="Elija una sucursal" ng-options="sucursalFiltro.id as sucursalFiltro.nombre for sucursalFiltro in sucursales">
                                        <option value="">--ninguno--</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" ng-model="filtro.usuario">
                                </td>
                                <td>
                                    <input type="text" ng-model="filtro.numero">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </form>
        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="widget-title">Lista de Comprobantes</h4>
                </div>
                <div class="col-sm-6" ng-include src="'/templates/gral/fields-viewer.html'"></div>
            </div>
        </div>
        <!--lista de comprobanntes ng-repeat-->
        <div>
            <div id="tabla-comprobamte_wrapper" class="dataTables_wrapper form-inline no-footer">
                <div class="row" ng-include src="'/templates/gral/paginator-header-1.html'">
                </div>
                <div style="overflow-x:auto;">
                    <table id="tabla-comprobantes" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th ng-if="fieldViewer.getConfiguration().abierto.show">Abierto</th>
                                <th ng-if="fieldViewer.getConfiguration().comprobante.show">
                                    <a href="javascript:void(0)" ng-click="paginator.sortColumn('comprobante')">Comprobante
                                        <span id="comprobante" class="sort fa fa-sort icon-only"></span>
                                    </a>
                                </th>
                                <th ng-if="fieldViewer.getConfiguration().numero.show">
                                    <a href="javascript:void(0)" ng-click="paginator.sortColumn('numero')">Nro
                                        <span id="numero" class="sort fa fa-sort icon-only"></span>
                                    </a>
                                </th>
                                <th ng-if="fieldViewer.getConfiguration().fecha.show">
                                    <a href="javascript:void(0)" ng-click="paginator.sortColumn('Fecha')">Fecha
                                        <span id="comprobante" class="sort fa fa-sort icon-only"></span>
                                    </a>
                                </th>
                                <th ng-if="fieldViewer.getConfiguration().sucursal.show">
                                    <a href="javascript:void(0)">Sucursal
                                        <span id="Sucursal" class="sort fa fa-sort icon-only"></span>
                                    </a>
                                </th>
                                <th ng-if="fieldViewer.getConfiguration().gloza.show">
                                    <a href="javascript:void(0)" ng-click="paginator.sortColumn('gloza')">Gloza General
                                        <span id="GlozaGeneral" class="sort fa fa-sort icon-only"></span>
                                    </a>
                                </th>
                                <th ng-if="fieldViewer.getConfiguration().hora_fecha.show">
                                    <a href="javascript:void(0)" ng-click="paginator.sortColumn('createdAt')">Hora - Fecha
                                        <span id="HoraFecha" class="sort fa fa-sort icon-only"></span>
                                    </a>
                                </th>
                                <th ng-if="fieldViewer.getConfiguration().importe.show">
                                    <a href="javascript:void(0)" ng-click="paginator.sortColumn('importe')">Monto
                                        <span id="monto" class="sort fa fa-sort icon-only"></span>
                                    </a>
                                </th>
                                <th ng-if="fieldViewer.getConfiguration().usuario.show">
                                    <a href="javascript:void(0)">Usuario
                                        <span id="usuario" class="sort fa fa-sort icon-only"></span>
                                    </a>
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="comprobante in comprobantes track by $index">
                                <td>{{($index+1)+(paginator.itemsPerPage*(paginator.currentPage-1))}}</td>
                                <td ng-if="fieldViewer.getConfiguration().abierto.show">
                                    <span ng-if="comprobante.abierto" class="label label-sm label-success">Si</span>
                                    <span ng-if="!comprobante.abierto" class="label label-sm label-warning">No</span>
                                    <a class="red" ng-disabled="!aplicacion.puede_modificar" uib-tooltip="Permitir Edición" href="javascript:void(0)" ng-click="abrirModalVerificarCuenta(comprobante)">
                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                    </a>
                                </td>
                                <td ng-if="fieldViewer.getConfiguration().comprobante.show">{{comprobante.tipoComprobante.nombre}}</td>
                                <td ng-if="fieldViewer.getConfiguration().numero.show">{{comprobante.numero}}</td>
                                <td ng-if="fieldViewer.getConfiguration().fecha.show">{{comprobante.fecha | date:"dd/MM/yyyy"}}</td>
                                <td ng-if="fieldViewer.getConfiguration().sucursal.show">{{comprobante.sucursal.nombre}}</td>
                                <td ng-if="fieldViewer.getConfiguration().gloza.show">{{comprobante.gloza}}</td>
                                <td ng-if="fieldViewer.getConfiguration().hora_fecha.show">{{comprobante.fecha | date :"h:mm"}} - {{comprobante.fecha | date:"dd/MM/yyyy"}}</td>
                                <td ng-if="fieldViewer.getConfiguration().importe.show">{{comprobante.importe | number:2}}</td>
                                <td ng-if="fieldViewer.getConfiguration().usuario.show">{{comprobante.usuario.persona.nombres}}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="blue tooltip-info" href="javascript:void(0)" uib-tooltip="Ver Datos" ng-click="verComprobante(comprobante,true)">
                                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                        </a>
                                        <a ng-if="comprobante.abierto" class="green tooltip-info" href="javascript:void(0)" uib-tooltip="Editar Datos" ng-click="verComprobante(comprobante)">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>
                                        <a ng-if="comprobante.abierto" class="red tooltip-info" href="javascript:void(0)" uib-tooltip="Eliminar" ng-click="abrirModalEliminarComprobante(comprobante)">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                        <a class="blue tooltip-info" href="javascript:void(0)" uib-tooltip="Imprimir" ng-click="imprimirComprobante(comprobante,opcionBimonetario2)">
                                            <i class="ace-icon fa fa-print bigger-130"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot ng-if="comprobantes">
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td ng-if="fieldViewer.getConfiguration().comprobante.show"></td>
                                <td ng-if="fieldViewer.getConfiguration().numero.show"></td>
                                <td ng-if="fieldViewer.getConfiguration().fecha.show"></td>
                                <td ng-if="fieldViewer.getConfiguration().sucursal.show"></td>
                                <td ng-if="fieldViewer.getConfiguration().gloza.show"></td>
                                <td ng-if="fieldViewer.getConfiguration().hora_fecha.show">Total</td>
                                <td ng-if="fieldViewer.getConfiguration().importe.show">{{totalImporte|number:2}}</td>
                                <td ng-if="fieldViewer.getConfiguration().usuario.show"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td ng-if="fieldViewer.getConfiguration().comprobante.show"></td>
                                <td ng-if="fieldViewer.getConfiguration().numero.show"></td>
                                <td ng-if="fieldViewer.getConfiguration().fecha.show"></td>
                                <td ng-if="fieldViewer.getConfiguration().sucursal.show"></td>
                                <td ng-if="fieldViewer.getConfiguration().gloza.show"></td>
                                <td ng-if="fieldViewer.getConfiguration().hora_fecha.show">Total General</td>
                                <td ng-if="fieldViewer.getConfiguration().importe.show">{{totalGeneralComprobantes|number:2}}</td>
                                <td ng-if="fieldViewer.getConfiguration().usuario.show"></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!--fin tabla comprobantes-->
                <div class="row" ng-include src="'/templates/gral/paginator.html'">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-verificar-cuenta" title="Asignar Cuenta">
    <form name="formularioAsignarCuenta" novalidate ng-submit="verificarCuentaAdmin(cuenta,$index)">
        <div class="modal-header">
            <p>
                <h3>Verificar Cuenta</h3>
            </p>
        </div>
        <div class="modal-body">
            <div>
                <span>Nombre Usuario: </span>
                <input class="form-control" type="text" ng-model="cuenta.nombre_usuario">
            </div>
            <div>
                <span>Clave</span>
                <input class="form-control" type="password" name="contra" ng-model="cuenta.clave">
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-success" ng-disabled="formularioAsignarCuenta.$invalid">Guardar</button>
            </div>


            <div class="col-sm-6">
                <button type="button" class="btn btn-danger" ng-click="cerrarModalVerificarCuenta()">Cancelar</button>
            </div>
        </div>
    </form>
</div>
<!-- ========= inicio  modal eliminar comprobante ========= -->
<div id="dialog-eliminar-comprobante" title="¿Eliminación de Comprobante?">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>¿Esta seguro de eliminar el comprobante?
    </p>
    <button type="button" class="btn btn-danger" ng-click="eliminarComprobante(empleado)">Si</button>
    <button type="button" class="btn btn-success" ng-click="cerrarDialogEliminarUsuarioRh()">No</button>
</div>
<!-- ========= fin modal eliminar recusos humanos ========= -->

<!-- ========= inicio  modal cambio moneda comprobante ========= -->
<div class="modal" id="dialog-cambio-moneda">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <button type="button" ng-click="cerrarCambioMoneda()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="advertenciaPrestamoPersonal">Cambio Moneda</h4>
        </div>
        <div class="modal-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <strong>FILTRAR</strong>
                        </th>
                        <th>Mes</th>
                        <th>Año</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PERIODO</td>
                        <td>
                            <select ng-change="buscarCambioMoneda(filtroMoneda)" class="form-control" id="valMonth" ng-options="mes.id as mes.nombre for mes in meses track by mes.id"
                                ng-change="getDaysInMonth(ficha.nac_mes.id,ficha.nac_anio)" ng-model="filtroMoneda.mes">
                                <option value="a">Todos</option>
                            </select>
                        </td>
                        <td>
                            <select ng-change="buscarCambioMoneda(filtroMoneda)" class="form-control" id="valYear" ng-update-hidden ng-options="year  as year for (idx, year)  in listYears track by year"
                                ng-model="filtroMoneda.anio">

                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="widget-title">Lista de Tipo de Cambio</h4>
                    </div>
                </div>
            </div>
            <div class="table-fixed-header">
                <table class="table table-striped table-bordered table-hover ">
                    <thead fix-head class="table-head-color">
                        <tr>
                            <th>N°</th>
                            <th>Fecha</th>
                            <th>UFV</th>
                            <th>Dolar</th>
                            <th style="width:5px">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="moneda in cambiosMoneda">
                            <td>{{$index+1}}</td>
                            <td>
                                {{moneda.fecha| date:"dd/MM/yyyy"}}
                            </td>
                            <td ng-if="!moneda.edit">
                                {{moneda.ufv}}
                            </td>
                            <td ng-if="moneda.edit">
                                <input type="number" class="form-control" ng-model="moneda.ufv">
                            </td>
                            <td ng-if="!moneda.edit">
                                {{moneda.dolar}}
                            </td>
                            <td ng-if="moneda.edit">
                                <input type="number" class="form-control" ng-model="moneda.dolar">
                            </td>
                            <td>

                                <a ng-if="!moneda.edit" class="blue tooltip-info" href="javascript:void(0)" uib-tooltip="Editar" ng-click="EditarCambioMoneda(moneda)">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a ng-if="moneda.edit" class="green tooltip-info" href="javascript:void(0)" uib-tooltip="Guardar" ng-click="GuardarCambio(moneda)">
                                    <i class="ace-icon fa fa-floppy-o bigger-130"></i>
                                </a>
                                <a ng-if="moneda.edit" class="red tooltip-info" href="javascript:void(0)" uib-tooltip="Cancelar" ng-click="CancelarModificarMoneda()">
                                    <i class="ace-icon fa fa-times-circle bigger-130"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="cerrarCambioMoneda()">Cerrar</button>
        </div>
    </div>
</div>
</div>
<!-- ========= fin modal eliminar recusos humanos ========= -->