<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">REPORTE DE PEDIDOS DESPACHO</h3>
    </div>
    <div class="col-xs-12">
        <form name="formularioFiltroDespachos" novalidate ng-submit="paginator.getSearch(paginator.search,filtro,null)">
            <fieldset>
                <legend>Filtro de Pedidos
                </legend>
                <div style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td>

                                </td>
                                <td>
                                    <label>Desde</label>&nbsp
                                </td>
                                <td>
                                    <label>Hasta</label>&nbsp
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>PERIODO</label>&nbsp
                                </td>
                                <td>
                                    <input required ng-update-hidden class="form-control date-picker" type="text" data-date-format="dd/mm/yyyy" id="fechainicio"
                                        ng-model="filtro.inicio" placeholder="Ingrese la fecha inicial" />
                                </td>
                                <td>
                                    <input required ng-update-hidden class="form-control date-picker" type="text" data-date-format="dd/mm/yyyy" id="fechafin"
                                        ng-model="filtro.fin" placeholder="Ingrese la fecha final" /> &nbsp
                                </td>
                                <td>
                                    <button type="submit" ng-disabled="formularioFiltroVentas.$invalid" class="btn btn-primary">
                                        <i class="ace-icon fa fa-plus align-top bigger-125"></i>
                                        Filtrar
                                    </button>
                                    <button id="pdf" class="btn btn-app btn-danger btn-xs" ng-click="imprimirPdfDespachos()">
                                        <i class="ace-icon fa fa-print bigger-160"></i>
                                        PDF
                                    </button>
                                    <button id="exel" class="btn btn-app btn-success btn-xs" ng-click="imprimirExelDespachos()">
                                        <i class="ace-icon fa fa-print bigger-160"></i>
                                        Excel
                                    </button>

                                </td>

                            </tr>
                            <tr>
                                <td>
                                    &nbsp
                                </td>
                                <td>
                                    <label>Razon Social</label>&nbsp
                                </td>
                                <td>
                                    <label>Nit</label>&nbsp
                                </td>
                                <td>
                                    <label>Monto</label>&nbsp
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    FILTRO
                                </td>
                                <td>
                                    <input type="text" ng-model="filtro.razon_social">
                                </td>
                                <td>
                                    <input type="text" ng-model="filtro.nit">

                                </td>
                                <td>
                                    <input type="text" ng-model="filtro.monto">

                                </td>

                            </tr>
                            <tr>
                                <td>
                                    &nbsp
                                </td>
                                <td>
                                    <label>Sucursal</label>&nbsp
                                </td>
                                <td>
                                    <label>Estado</label>&nbsp
                                </td>
                                <td>
                                    <label>Usuario</label>&nbsp
                                    <img height="35" width="30" src="img/map.png" style="padding-bottom: 5px" ng-click="abrirDialogFiltroMapa()">
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>
                                    <input type="text" ng-model="filtro.transportista">
                                </td>
                                <td>
                                    <input type="text" ng-model="filtro.tipo">

                                </td>
                                <td>
                                    <input type="text" ng-model="filtro.usuario">

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
    </div>

    <div class="table-header">
        <span>Lista de Despachos</span>
        <div class="inline pos-rel pull-right">
            <a class="green pull-right" href="javascript:void(0)" ng-click="abrirModalVentaKardexFactura()">
                <i class="fa fa-unlock fa-2x text-white margin-0-5"></i>
            </a>
        </div>

    </div>

    <!-- div.table-responsive -->

    <!-- div.dataTables_borderWrap -->
    <div>
        <div class="dataTables_wrapper form-inline no-footer">
            <div class="row" ng-include src="'/templates/gral/paginator-header-1.html'">
            </div>
            <div style="overflow-x:auto;">
                <table id="tabla-destinos" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                N°
                            </th>
                            <th>Fecha</th>
                            <th>Vendedor</th>
                            <th>Cliente</th>
                            <th>ubicacion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="gtm_detalle_despacho in despachos">
                            <td class="center">
                                {{$index+1}}
                            </td>
                            <td>{{gtm_detalle_despacho.fecha | date:"dd/MM/yyyy"}}</td>

                            <td>{{gtm_detalle_despacho.despacho.usuario.persona.nombre_completo}}</td>
                            <td>{{gtm_detalle_despacho.despacho.cliente.razon_social}}</td>
                            <td class="center">

                            </td>

                            <td>
                                <div class="action-buttons">
                                    <a class="blue" href="javascript:void(0)" ng-click="imprimir(gtm_detalle_despacho)">
                                        <i class="ace-icon fa fa-print bigger-130"></i>
                                    </a>

                                    <a class="green" e-disabled="!aplicacion.puede_modificar" ng-if="!gtm_detalle_despacho.factura" href="javascript:void(0)"
                                        ng-click="abrirModalAsignacionFactura(gtm_detalle_despacho)">
                                        <i class="ace-icon fa fa-unlock bigger-130"></i>
                                    </a>
                                    <a class="red" e-disabled="!aplicacion.puede_modificar" ng-if="gtm_detalle_despacho.factura" href="javascript:void(0)" ng-click="abrirModalVerificarCuenta(gtm_detalle_despacho,'despacho')">
                                        <i class="ace-icon fa fa-lock bigger-130"></i>
                                    </a>
                                    <a class="red" e-disabled="!aplicacion.puede_eliminar" ng-if="!gtm_detalle_despacho.factura" href="javascript:void(0)" ng-click="abrirPopupConfirmacionEliminacion(removerDetalleDespacho,gtm_detalle_despacho)">
                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                    </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="row" ng-include src="'/templates/gral/paginator.html'" ng-if="despachos.length > 0">
                </div>
            </div>
        </div>
    </div>
    <div id="dialog-mapa-despachos">

        <div class="modal-header bg-primary">
            <h4 class='smaller text-white text-uppercase'>
                <label> &nbsp;MAPA </label>
            </h4>
        </div>
        <div class="modal-body">
            <div>
                <label for="vendedor">Vendedor</label>
                <input class="form-control" ng-keypress="interceptarTecla($event,'cantidad',true)" id="{{$index}}-As" name="{{$index}}-As"
                    required type="text" ng-model="filtro.vendedor" placeholder="Busqueda..." uib-typeahead="vendedor as vendedor.persona.nombre_completo for vendedor in buscarVendedor($viewValue)"
                    typeahead-wait-ms="1000" typeahead-template-url="templates/autocompletar.html" typeahead-show-hint="false"
                    typeahead-on-select="establecervehiculo($item, $model, $label, $event)" typeahead-min-length="3">
            </div>
            <div>
                <label for="Fecha">Fecha</label>
                <input type="text" ng-model="filtro.fecha" ng-update-hidden class="form-control date-picker" type="text" data-date-format="dd/mm/yyyy">
            </div>
        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-danger btn-sm pull-left" data-dismiss="modal" ng-click="cerrarDialogFiltroMapa()">
                <i class="ace-icon fa fa-times"></i>
                Cancelar
            </button>
            <button type="button" class="btn btn-success btn-sm pull-right" data-dismiss="modal" ng-click="GenerarMapaDespachosVendedor(filtro)">
                <i class="ace-icon fa fa-times"></i>
                GENERAR MAPA
            </button>
        </div>

    </div>
    <div id="dialog-vendedor-mapa">
        <div class="modal-body">
            <div class="col-sm-12">
                <button ng-click="mostrarMapa()" class="btn btn-sm">
                    <i class="ace-icon fa fa-map-marker"></i>
                </button>
            </div>

            <div id="map_canvas_despachos" class="mapa_cliente">
                    <ui-gmap-google-map 
                    center='map.center' 
                    zoom='map.zoom' aria-label="Google map"  >
                    
                    <ui-gmap-marker ng-repeat="marker in markers"
                      coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                      <ui-gmap-window>
                        <div>{{marker.window.title}}</div>
                      </ui-gmap-window>
                    </ui-gmap-marker>
                    
                  </ui-gmap-google-map>
               
            </div>
        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-danger btn-sm pull-left" data-dismiss="modal" ng-click="cerrarDialogVendedorMapa()">
                <i class="ace-icon fa fa-times"></i>
                Cancelar
            </button>

        </div>

    </div>