<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">SOLICITUD DE VIVERES</h3>
        <button id="nuevo" class="btn btn-primary" ng-click="abrirDialogPanelOperaciones()">
            <i class="ace-icon fa fa-plus align-top bigger-125"></i>
            Nuevo
        </button>
        <form name="formularioFiltroOperaciones" novalidate ng-submit="filtrarSolicitudesOperaciones(filtro)">
            <fieldset>
                <legend>Filtro Solicitudes</legend>
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>

                            </td>
                            <td>
                                <label>Desde</label>&nbsp
                            </td>
                            <td>
                                <label>Hasta</label>&nbsp
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>PERIODO</label>&nbsp
                            </td>
                            <td>
                                <input ng-update-hidden class="form-control date-picker" type="text" data-date-format="dd/mm/yyyy" id="fechainicio" ng-model="filtro.fechaInicioTexto"
                                    placeholder="Ingrese la fecha inicial" />
                            </td>
                            <td>
                                <input ng-update-hidden class="form-control date-picker" type="text" data-date-format="dd/mm/yyyy" id="fechafin" ng-model="filtro.fechaFinTexto"
                                    placeholder="Ingrese la fecha final" /> &nbsp
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary">
                                    <i class="ace-icon fa fa-plus align-top bigger-125"></i>
                                    Filtrar
                                </button>
                                <!-- <label class="pull-lefth inline">
                                    <small class="muted smaller-90">Detalle:</small>

                                    <input id="id-button-detalle" ng-disabled="!ventas" ng-click="sinFuncionalidad()" name="switch-view-detail" checked="checked"
                                        type="checkbox" class="ace ace-switch ace-switch-4">
                                    <span class="lbl check-detalle"></span>
                                </label> -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp
                            </td>
                            <td>
                                <label>Sucursal</label>&nbsp
                            </td>
                            <td>
                                <label>Almacen</label>&nbsp
                            </td>
                            <td>
                                &nbsp
                                <!-- <label>Movimiento</label>&nbsp -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                FILTRO
                            </td>
                            <td>
                                <select required id="sucursal" name="sucursal" ng-options="sucursal as sucursal.nombre for sucursal in sucursales track by sucursal.id"
                                    ng-model="filtro.sucursal" ng-change="obtenerAlmacenes(filtro.sucursal.id)">
                                    <option value="" selected>TODOS</option>
                                </select>
                            </td>
                            <td>
                                <select data-validate="validate(required)" required id="almacen" name="almacen" ng-model="filtro.almacen" ng-options="almacen as almacen.nombre for almacen in almacenes track by almacen.id"
                                    data-placeholder="Click para escoger">
                                    <option value="" selected>TODOS</option>
                                </select>
                            </td>
                            <td>&nbsp
                                <!-- <select id="filMovimientoOp" name="filMovimientoOp" ng-options="movimiento as movimiento.nombre for movimiento in movimientos track by movimiento.id"
                                    ng-model="filtro.movimiento">
                                    <option value="" selected>TODOS</option>
                                </select> -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp
                            </td>
                            <td>
                                <label>Estado</label>&nbsp
                            </td>
                            <td>&nbsp
                                <!-- <label>Valuado</label>&nbsp -->
                            </td>
                            <td>
                                &nbsp
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>
                                <select id="filEstadoOp" name="filEstadoOp" ng-model="filtro.estado" ng-options="Estado_ as Estado_.nombre for Estado_ in [{nombre:'Abierto',id:1},{nombre:'Cerrado',id:2}] track by Estado_.id">
                                    <option value="" selected>TODOS</option>
                                </select>
                            </td>
                            <td>&nbsp
                                <!-- <select id="filvaluadoOp" name="filvaluadoOp" ng-model="filtro.valuado" ng-options="valuado_ as valuado_.nombre for valuado_ in [{nombre:'valuado 1',id:1},{nombre:'valuado 2',id:2}, {nombre:'valuado 3',id:3}] track by valuado_.id">
                                    <option value="">TODOS</option>
                                </select> -->
                            </td>
                            <td>
                                &nbsp
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Lista de Solicitudes
        </div>
        <div id="tabla-pacientes_wrapper" class="dataTables_wrapper form-inline no-footer">
            <div class="row" ng-include src="'/templates/gral/paginator-header-1.html'">
            </div>
            <table id="tabla-ventas" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <!-- <th>Movimiento</th> -->
                        <th>Sucursal</th>
                        <th>Fecha</th>
                        <th>Hora - Fecha</th>
                        <th>Monto</th>
                        <th>Usuario</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="!solicitud.eliminado" ng-repeat="solicitud in solicitudesOperaciones">
                        <td>{{$index+1}}</td>
                        <!-- <td>SOLICITUD</td> -->
                        <td>{{solicitud.almacen.sucursal.nombre}}</td>
                        <td>{{solicitud.fecha | date:"dd/MM/yyyy"}}</td>
                        <td>{{solicitud.fecha | date:"HH:mm dd/MM/yyyy"}}</td>
                        <td>{{solicitud.monto | number:2}}</td>
                        <td>{{solicitud.usuario.persona.nombre_completo}}</td>
                        <td>
                            <label class="bg-green" ng-if="solicitud.activo">&nbsp &nbspAbierto&nbsp &nbsp</label>
                            <label class="bg-red" ng-if="!solicitud.activo">&nbsp &nbspCerrado&nbsp &nbsp</label>
                        </td>
                        <!-- <td><label><input id="estadoSolicitud" name="estadoSolicitud" ng-updated-hidden ng-model="solicitud.activo" class="ace ace-switch ace-switch-5" type="checkbox">
                            <span class="lbl check-descuento"> <label class="bg-green" ng-if="solicitud.activo">&nbsp &nbspActivo&nbsp &nbsp</label><label class="bg-red" ng-if="!solicitud.activo">&nbsp &nbspInactivo&nbsp &nbsp</label></span></label></td>-->
                        <td>
                            <div class="hidden-sm hidden-xs action-buttons">
                                <a  ng-if="solicitud.activo" class="green" href="javascript:void(0)" ng-click="confirmarEntrega(solicitud)" data-rel="tooltip"
                                    tooltip-placement="top" uib-tooltip="Confirmar Entrega">
                                    <i class="ace-icon fa fa-unlock bigger-130"></i>
                                </a>
                                <a  ng-if="solicitud.activo" class="orange" href="javascript:void(0)" ng-click="editar(solicitud)">
                                    <i class="ace-icon fa fa-pencil-square-o bigger-130"></i>
                                </a>
                                <a ng-if="!solicitud.activo" class="red" href="javascript:void(0)" data-rel="tooltip" tooltip-placement="top" uib-tooltip="Entregado">
                                    <i class="ace-icon fa fa-lock bigger-130"></i>
                                </a>
                                <a class="green" href="javascript:void(0)" ng-click="generarPdfSolicitud(solicitud)" data-rel="tooltip" tooltip-placement="top"
                                    uib-tooltip="Imprimir">
                                    <i class="ace-icon fa fa-print bigger-130"></i>
                                </a>
                                <a   class="blue" href="javascript:void(0)" ng-click="ver(solicitud)" data-rel="tooltip" tooltip-placement="top" uib-tooltip="Ver">
                                    <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                </a>
                                <a  class="blue" href="javascript:void(0)" ng-click="copiar(solicitud)" data-rel="tooltip" tooltip-placement="top" uib-tooltip="Copiar">
                                    <i class="ace-icon fa fa-files-o bigger-130"></i>
                                </a>
                                <a  class="red" ng-if="solicitud.activo" ng-click="abrirPopupConfirmacionEliminacion(eliminar,solicitud)" data-rel="tooltip"
                                    tooltip-placement="top" uib-tooltip="Eliminar">
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                </a>
                            </div>
                            <div class="hidden-md hidden-lg">
                                <div class="inline pos-rel">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                        <li>
                                            <a  ng-if="solicitud.activo" class="green" href="javascript:void(0)" ng-click="confirmarEntrega(solicitud)">
                                                <i class="ace-icon fa fa-unlock bigger-130"></i>
                                            </a>
                                            <a ng-if="!solicitud.activo" class="red" href="javascript:void(0)">
                                                <i class="ace-icon fa fa-lock bigger-130"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a  ng-if="solicitud.activo" class="orange" href="javascript:void(0)" ng-click="editar(solicitud)">
                                                <i class="ace-icon fa fa-pencil-square-o bigger-130"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="green" href="javascript:void(0)" ng-click="generarPdfSolicitud(solicitud)">
                                                <i class="ace-icon fa fa-print bigger-130"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a   class="blue" href="javascript:void(0)" ng-click="ver(solicitud)">
                                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a  class="blue" href="javascript:void(0)" ng-click="copiar(solicitud)">
                                                <i class="ace-icon fa fa-files-o bigger-130"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a  class="red" ng-if="solicitud.activo" ng-click="eliminar(solicitud)">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" ng-include src="'/templates/gral/paginator.html'" ng-if="solicitudesOperaciones.length > 0">
            </div>
        </div>
    </div>
</div>

<div id="dialog-panel-operaciones" class="modal wizard-posicion" style="overflow-y: hidden;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box">
                    <form id="formularioOperacionesPanel" name="formularioOperacionesPanel" novalidate ng-submit="guardarOperacionPanel(formularioOperacionesPanel.$valid,solicitud)">
                        <div class="widget-body">
                            <div class="widget-main {{color.style}}">
                                <div class="row">
                                    <button type="button" ng-click="showHideFirstRow()" class="button-circle button-style  pos-rel pull-left">
                                        <i class="ace-icon fa fa-angle-double-up bigger-110"></i>
                                    </button>
                                    <div class="col-sm-12">
                                        <div class="row first-row nit-row">
                                            <div class="col-sm-11">
                                                <div class="col-sm-2">
                                                    <label>FECHA</label>
                                                    <input ng-update-hidden ng-disabled="solicitud.ver!==undefined" data-validate="validate(required)" required class="form-control date-picker"
                                                        type="text" data-date-format="dd/mm/yyyy" id="fechaP" ng-model="solicitud.fecha"
                                                        value="{{getFecha() | date:'dd/MM/yyyy'}}" />
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="col-sm-6">
                                                        <label>SUCURSAL</label>
                                                        <select ng-disabled="solicitud.ver!==undefined" required id="sucursal" name="sucursal" ng-options="sucursal as sucursal.nombre for sucursal in sucursales track by sucursal.id"
                                                            ng-model="solicitud.sucursal" ng-change="obtenerAlmacenes(solicitud.sucursal.id)">
                                                            <option value="" disabled selected>Selec. Sucursal</option>
                                                        </select>


                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label>ALMACEN</label>
                                                        <select ng-disabled="solicitud.ver!==undefined" ng-change="cargarProductos()" data-validate="validate(required)" required
                                                            id="almacen" name="almacen" ng-model="solicitud.almacen" ng-options="almacen as almacen.nombre for almacen in almacenes track by almacen.id"
                                                            data-placeholder="Click para escoger">
                                                            <option value="" disabled selected>Selec. Almacen</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="col-sm-6">
                                                        <button type="submit" ng-disabled="solicitud.solicitudesProductos.length===0 || !formularioOperacionesPanel.$valid || solicitud.ver!==undefined"
                                                            class="btn btn-primary btn-app btn-sm button-guardar button-responsive">
                                                            <i class="ace-icon fa fa-floppy-o align-top bigger-100"></i>
                                                            GUARDAR
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button type="button" class="btn btn-danger btn-app btn-sm button-responsive" ng-click="cerrarPopupPanel()">
                                                            <i class="ace-icon fa fa-times red2 align-top bigger-100"></i>
                                                            CERRAR
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 economico">
                                                    <div class="form-group">
                                                        <label class="control-label label-responsive" for="inputGroup"> BÚSQUEDA </label>
                                                        <div class="input-group">
                                                            <input ng-disabled="solicitud.ver!==undefined" type="text" class="form-control" placeholder="Buscar" id="inputGroup" ng-model="search"
                                                                ng-change="filtrarProductos(search)" class="form-control" />
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-search"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1">&nbsp</div>
                                            </div>
                                            <div class="col-sm-1">
                                                <div class="group-color-button">
                                                    <div class="row">
                                                        <button type="button" class="btn boton-verde" ng-click="cambiarColor('green-style','green-style-button')"></button>
                                                        <button type="button" class="btn boton-rojo" ng-click="cambiarColor('red-style','red-style-button')"></button>
                                                    </div>
                                                    <div class="row">
                                                        <div class="punto"></div>
                                                    </div>
                                                    <div class="row">
                                                        <button type="button" class="btn boton-azul" ng-click="cambiarColor('skyblue-style','skyblue-style-button')"></button>
                                                        <button type="button" class="btn boton-cafe" ng-click="cambiarColor('brown-style','brown-style-button')"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div id="sidebar" style='width:100%' class="sidebar responsive">
                                                            <script type="text/javascript">
                                                                try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
                                                                var options = [];
                                                            </script>
                                                            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                                                                <div class="row" ng-if="grupos_productos.length>0">
                                                                    <div class="col-xs-5" ng-repeat="grupo in listChecked.slice(0, 16)">
                                                                        <button type="button" ng-click="clasificarGrupo(grupo.id)" class="button-style btn-panel {{color.stylebutton}} btn-block btn-minier text-cut">{{grupo.nombre}}
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                                                                <i class="ace-icon fa fa-angle-double-up" data-icon1="ace-icon fa fa-angle-double-up" data-icon2="ace-icon fa fa-angle-double-down"></i>
                                                            </div>
                                                            <script type="text/javascript">
                                                                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
                                                            </script>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                            <div class="">
                                                                <a   type="button" ng-click="calcularTotalViveres()" class="pos-rel pull-right" data-rel="tooltip" tooltip-placement="top" uib-tooltip="Ver total viveres solicitados">
                                                                   <img class="button-style btn-panel {{color.stylebutton}} btn-block btn-minier text-cut" style="width:80%;height:80%" class="pos-rel pull-right" src="img/icono-viveres-2.png">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    <div class="col-sm-1">
                                                            
                                                        <div class="inline pos-rel pull-right col-sm-6" >
                                                            <a data-toggle="dropdown" href="javascript:void(0)" class="btn btn-danger btn-sm dropdown-toggle " aria-expanded="false">
                                                                <i class="glyphicon  glyphicon-list-alt"></i>
                                                                <span class="caret"></span>
                                                            </a>
                                                            <ul id="campos-detalle-venta" class="dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret button-check-group">
                                                                <input type="text" ng-model="filterText" class="imput-search">
                                                                <li ng-repeat="grupo in grupos_productos">
                                                                    <div class="checkbox">
                                                                        <label class="block" ng-show="grupo.nombre.toUpperCase().search(filterText.toUpperCase()) !== -1">
                                                                            <input name="form-field-checkbox" type="checkbox" class="ace input-lg" ng-model="grupo.selected" ng-click="saveCheckList()">
                                                                            <span class="lbl bigger-120">{{grupo.nombre}}</span>
                                                                        </label>
                                                                    </div>
                                                                </li>
                                                                <li class="divider"></li>
                                                            </ul>
                                                        </div>
                                                        
                                                    </div>
                                                   
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="container-fluid">
                                                        <ul class="row" style="list-style-type: none;" ng-if="solicitud.solicitudesProductos.length>0">
                                                            <li class="container-fluid" ng-if="productito.eliminado === undefined" ng-repeat="productito in solicitud.solicitudesProductos">
                                                                <div ng-if="!productito.verFormulacion">
                                                                    <button type="button" class="button-style btn-panel {{color.stylebutton}} btn-block btn-minier text-cut" ng-click="verFormulacion(productito)">
                                                                        {{productito.productoSolicitado.nombre}}
                                                                        <!-- {{(productito.producto !==undefined)?productito.producto.nombre:(productoSeleccionado.productoSolicitado!==undefined)?productito.productoSolicitado.nombre:productito.productoSolicitado.nombre}} -->
                                                                        <i class="ace-icon fa fa-plus bigger-120 pos-rel pull-right"></i>
                                                                    </button>
                                                                </div>
                                                                <div ng-if="productito.verFormulacion">
                                                                    <button type="button" class="button-style btn-panel {{color.stylebutton}} btn-block btn-minier text-cut" ng-click="verFormulacion(productito)">
                                                                        {{productito.productoSolicitado.nombre}}
                                                                        <i class="ace-icon fa fa-minus bigger-120 pos-rel pull-right"></i>
                                                                    </button>
                                                                </div>
                                                                <div ng-if="productito.verFormulacion && productoSeleccionado.detallesIngredientesProducto.length==0" class="container-fluid">
                                                                        <label class="bg-red container-fluid" style="color:aliceblue !important" ng-if="productito.verFormulacion && productoSeleccionado.detallesIngredientesProducto.length==0">&nbsp &nbspProducto sin formulación&nbsp &nbsp</label>
                                                                </div>
                                                                <div ng-if="productito.verFormulacion && productoSeleccionado.detallesIngredientesProducto.length >0" class="">
                                                                    <div style="overflow: scroll;overflow-x: hidden;width: auto;height: auto; overflow-y: hidden;" class="row">
                                                                        
                                                                        <label ng-if="productito.verFormulacion && productoSeleccionado.solicitudesProductos.length >0"></label>
                                                                        <div class="col-xs-12" ng-if="productito.verFormulacion && productoSeleccionado.detallesIngredientesProducto.length >0">
                                                                            <div class="table-header">
                                                                                ingredientes {{productoSeleccionado.productoSolicitado.nombre}}
                                                                            </div>
                                                                            <table class="table table-striped table-bordered table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>
                                                                                            <label>#</label>
                                                                                        </th>
                                                                                        <th>
                                                                                            <label>Producto</label>
                                                                                        </th>
                                                                                        <th>
                                                                                            <label>Unidad de medida</label>
                                                                                        </th>
                                                                                        <th>
                                                                                            <label>Cant./U ideal</label>
                                                                                        </th>
                                                                                        <th>
                                                                                            <label>Cant./U Modif.</label>
                                                                                        </th>
                                                                                        <th>
                                                                                            <label>Total Ideal</label>
                                                                                        </th>
                                                                                        <th>
                                                                                            <label>Total Real</label>
                                                                                        </th>
                                                                                        <th>
                                                                                            <label>Acciones</label>
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr ng-if="ingrediente.eliminado===undefined" ng-repeat="ingrediente in productoSeleccionado.detallesIngredientesProducto">
                                                                                        <td>
                                                                                            {{$index+1}}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ingrediente.productoSolicitudBase.nombre}}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ingrediente.productoSolicitudBase.unidad_medida}}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ingrediente.cantidad_ideal | number:2}}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ingrediente.total/productoSeleccionado.cantidad | number:2}}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ingrediente.cantidad_ideal * productoSeleccionado.cantidad | number:2}}
                                                                                        </td>
                                                                                        <td style="min-width: 85px">
                                                                                            <input ng-update-hidden ng-disabled="solicitud.ver!==undefined" style="width:100%" type="number" step="0.1" ng-model="ingrediente.total">
                                                                                        </td>
                                                                                        <td>
                                                                                            <div class="col-sm-12">
                                                                                                <!-- <button type="button" ng-click="disminuirDetalleVenta(detalleVenta)" class="button-style btn red-style-button btn-xs">
                                                                                                                <i class="ace-icon fa fa-minus bigger-100"></i>
                                                                                                            </button> -->
                                                                                                <button type="button" ng-disabled="solicitud.ver!==undefined" ng-click="eliminarIngrediente(ingrediente)" class="button-style btn red-style-button btn-xs">
                                                                                                    <i class="ace-icon fa fa-trash-o bigger-100"></i>
                                                                                                </button>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="container-fluid">
                                                        <div style="overflow: scroll;overflow-x: hidden;width: auto;height: auto;overflow-y: hidden;" ng-if="solicitud.solicitudesProductos.length>0"
                                                            class="row">
                                                            <div class="col-xs-12">
                                                                <div class="table-header">
                                                                    Detalles de orden
                                                                </div>
                                                                <table class="table table-striped table-bordered table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                <label>#</label>
                                                                            </th>
                                                                            <th>
                                                                                <label>Cant.</label>
                                                                            </th>
                                                                            <th>
                                                                                <label>Producto</label>
                                                                            </th>
                                                                            <th>
                                                                                <label>Acciones</label>
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-if="detalleVenta.eliminado === undefined" ng-repeat="detalleVenta in solicitud.solicitudesProductos">
                                                                            <td>
                                                                                {{$index+1}}
                                                                            </td>
                                                                            <td style="min-width: 85px; max-width:100px">
                                                                                <input ng-update-hidden ng-disabled="solicitud.ver!==undefined" style="width:100%" type="number" step="1" ng-model="detalleVenta.cantidad" ng-change="actualizarTotalReal(detalleVenta)">
                                                                            </td>
                                                                            <td>
                                                                                {{(detalleVenta.producto!==undefined)?detalleVenta.producto.nombre:detalleVenta.productoSolicitado.nombre}}
                                                                            </td>
                                                                            <td>
                                                                                <div class="row">
                                                                                    <div class="col-sm-12">
                                                                                        <button ng-disabled="solicitud.ver!==undefined" type="button" ng-click="disminuirDetalleVenta(detalleVenta)" class="button-style btn red-style-button btn-xs">
                                                                                            <i class="ace-icon fa fa-minus bigger-100"></i>
                                                                                        </button>
                                                                                        <!-- <button type="button" ng-click="verFormulacion(detalleVenta.producto)" class="button-style btn red-style-button btn-xs">
                                                                                            <i class="ace-icon fa fa-search bigger-100"></i>
                                                                                        </button> -->
                                                                                        <button ng-disabled="solicitud.ver!==undefined" type="button" ng-click="eliminarDetalleVenta(detalleVenta)" class="button-style btn red-style-button btn-xs">
                                                                                            <i class="ace-icon fa fa-trash-o bigger-100"></i>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div id="productos" class="col-xs-13">
                                                            <div class="swiper-container">
                                                                <div class="swiper-wrapper">
                                                                    <div ng-disabled="solicitud.ver!==undefined" ng-click="agregarDetalleVentaPanel(producto)" class="btn btn-success swiper-slide productos-button"
                                                                        ng-repeat="producto in productosProcesados | orderRankin | orderBy: '-rankin'">
                                                                        <img src="{{producto.imagen}}" width="100%" style="height: 98px;max-height:98px">
                                                                        <label class="panel-cantidad">{{producto.inventario_disponible}}</label>
                                                                        <h3 class="text-cut">{{producto.nombre}}</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dialog-confirmacion-entrega" title="Confirmar entrega de viveres">
    <div class="table-header"> Confirmar entrega de viveres </div>
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>¿Esta seguro de cerrar esta solicitud?
    </p>
    <button type="button" class="btn btn-danger" ng-click="cerrarSolicitud(solicitudCerrar)">Si</button>
    <button type="button" class="btn btn-success" ng-click="cerrarDialogConfirmacionCierre()">No</button>
</div>

<div id="dialog-total-ingredientes" class="modal wizard-posicion">
    <div class="container-fluid">
        <div class="row">
            <div class="table-header">Total de viveres solicitados</div>
            <br>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <label>#</label>
                        </th>
                        <th>
                            <label>Producto</label>
                        </th>
                        <th>
                            <label>Unidad de medida</label>
                        </th>
                        <!-- <th>
                            <label>Cant. Ideal Total</label>
                        </th>
                        <th>
                            <label>Cant. Real Total</label>
                        </th> -->
                        <th>
                            <label>Total Solicitado</label>
                        </th>
                        <!-- <th>
                            <label>Monto Total</label>
                        </th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ingrediente in totalViveresSolicitados">
                        <td>
                            {{$index+1}}
                        </td>
                        <td>
                            {{ingrediente.productoSolicitudBase.nombre}}
                        </td>
                        <td>
                            {{ingrediente.productoSolicitudBase.unidad_medida}}
                        </td>
                        <!-- <td>
                            {{ingrediente.cantidad_ideal | number:2}}
                        </td>
                        <td>
                            {{ingrediente.cantidad_real | number:2}}
                        </td> -->
                        <td>{{ingrediente.total | number:2}}</td>
                        <!-- <td>{{ingrediente.totalbs | number:2}}</td> -->
                    </tr>
                    <!-- <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <b>TOTAL:</b>
                        </td>
                        <td>
                            {{solicitadoTotalFinalBs | number:2}}
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-danger" ng-click="cerrarDialogTotalIngredientes()">Cerrar</button>
</div>