
#menu-wraper a{
	margin-top: 20px;
	margin-left: 10px;
	text-decoration: none;
	color: white;
	text-align-last: center;
}
.myOwnBg {
	background-color: red;
 }
/* responsive table */
#map_canvas_despachos ui-gmap-google-map, div[ui-gmap-google-map] {display:block; width:450px !important; height:350px!important;}
@media screen and (max-width: 600px) {
	.table-responsive-actual {
	  border: 0;
	}
	
  
	.table-responsive-actual caption {
	  font-size: 1.3em;
	}
	
	.table-responsive-actual thead {
	  border: none;
	  clip: rect(0 0 0 0);
	  height: 1px;
	  margin: -1px;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  width: 1px;
	}
	
	.table-responsive-actual tr {
	  border-bottom: 3px solid #ddd;
	  display: block;
	  margin-bottom: .625em;
	}
	
	.table-responsive-actual td {
	  border-bottom: 1px solid #ddd;
	  display: block;
	  font-size: .8em;
	  text-align: right;
	}
	
	.table-responsive-actual td::before {
	  /*
	  * aria-label has no advantage, it won't be read inside a .table-responsive-actual
	  content: attr(aria-label);
	  */
	  content: attr(data-label);
	  float: left;
	  font-weight: bold;
	  text-transform: uppercase;
	}
	
	.table-responsive-actual td:last-child {
	  border-bottom: 0;
	}
  }
/*table fixed header*/
.table-fixed-header{
	overflow-y: scroll;height:auto;width:auto;max-height: 300px;
  }
  .table-head-color{
	background-color: rgb(238, 237, 237)
  }

  /* fin fixed header */

  .zui-table {
    border: none;
    border-right: solid 1px #DDEFEF;
    border-collapse: separate;
	border-spacing: 0;
	
    
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: none;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}

  /* input number sin flechas */
 #formNuevoComprobante input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  appearance: none;
  margin: 0; 
}

#formNuevoComprobante input[type=number] { -moz-appearance:textfield;appearance: textfield; }

#formNuevoComprobante .dropdown-menu {
	/* position: static !important;
	top: auto !important;
	left: auto !important;	 */
	z-index:9999;
  }
.validacionRRhh{
	border: 1px solid red !important;
	/* border-radius: 2px !important; */
	color:red !important;
}
 
#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

  .icon-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
  }
  .icon-stack-1x,
  .icon-stack-2x,
  .icon-stack-3x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
  }
  .icon-stack-1x {
	line-height: inherit;
  }
  .icon-stack-2x {
	font-size: 1.5em;
  }
  .icon-stack-3x {
	font-size: 2em;
  }
#search { 
width: 170px; /* Ancho del buscador */
height: 50px;
float: right;
text-align: center;
margin-top: 6px;
margin-right: 65px;}

#ini-contenedor{  
	padding: 10px;
	overflow: hidden;
	background-color: white;
}
.dropdown-menu {
       z-index:9999;
   }
#login{
	float: right;
	margin-right: 10px;
	height: 500px;
}



input {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	appearance: none;
}
#content-img{
float:left;
}




/* login */


#login {
	width: 275px;
	height: 100px;
	margin: 50px auto;
	margin-right: 50px;
}
#login label {
	position: absolute;
	display: block;
	width: 36px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-family: 'FontAwesome', sans-serif;
	color: #676767;
	text-shadow: 0 1px 0 #fff;
}
#login input {
	border: none;
	width: 204px;
	height: 48px;
  padding-left: 36px;
	border: 1px solid #000;
	background-color: #dedede;
  background: -webkit-linear-gradient(top, #c3c3c3 0%, #eaeaea 100%);	
	color: #363636;
	text-shadow: 0 1px 0 #fff;
	outline: none;

}
#login input[type="text"] {
	border-bottom: none;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	-webkit-box-shadow:inset 0 -1px 0 rgba(0, 0, 0, .4);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .4);
}
#login input[type="password"] {
	border-top:none;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	margin-bottom: 20px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(0, 0, 0, .2);
}
#login input[type="submit"] {
	margin: 0;
	padding: 0;
	width: 240px;
	background-color: #e14d4d;
	border: 1px solid #391515;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	line-height: 48px;
	text-transform: uppercase;
	/* background-image: none; */
	background-image:-webkit-linear-gradient(top, #f15958 0%, #e14d4d 100%);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(0, 0, 0, .2) ;
	-moz-box-shadow: hoff voff radius color;
	box-shadow: hoff voff radius color;
	text-shadow: 0 1px 0 #000;
}
#login input[type="submit"]:hover {
	background-color: #f15958;
	background-image:-webkit-linear-gradient(top, #e14d4d 0%, #f55b5b 100%);
}
/*p{
	font-size: 12.5px;
	font-style: arial;
	font-family: arial;
	width: 400px;
	color: black;
	text-align: justify;
	text-align-last: right;
	padding-right: 50px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding: 15px;
	margin-left: 30px;
	margin-right: 40px;

}*/

.tarjeta{
	/* display: inline; */
	width:33.33%; 
	float:left;
	height: 150px;
	color:white;
}



input.ng-invalid {
    background: #eddada;
}

.invalid-message{
	position: absolute;
	padding: 10px;
	background: #E95051;
	border-radius: 10px;
	color: black !important;
	z-index: 999;
}

.opcion-inicio{
width:20% !important;
height:200px !important;
}

.wizard-posicion{
position:none !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload-button{
 z-index: -99 !important;
}

.check-compra::before{
content: "%\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0   Bs" !important;
}

.check-descuento::before{
content: "SI\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0  NO" !important;
}
.check-cuenta-especifica::before{
	content: "C.F\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0  D.F" !important;
	}
.ketchup-error{
z-index:9999 !important;
}

#map_canvas {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    position: unset !important;
}

.mapa_cliente .angular-google-map-container{
	position:unset !important;
	top: 400px !important;
    bottom: 0px !important;
    right: 0px !important;
    left: 0px !important;
	overflow:unset !important;
}

.mapa_cliente .angular-google-map-container .gm-style{
	height:300px !important;
	position:unset !important;
}

.opcion-producto{
width:17% !important;
height:150px !important;
}

#productos .swiper-slide{
	border-radius:20px;
}

#productos div img{
	border-radius: 20px;
    padding-top: 15px;
	padding-right: 15px;
	padding-left: 0px;
}

#productos div h3{
    padding: 0px !important;
	text-align:center;
}

/*#productos div:hover {
    cursor: pointer;
}*/

.panel-cantidad{
	color: #F7F718;
    font-size: 30px;
    left: 154px;
    position: absolute;
    top: 1px;
    z-index: 999999;
}

.check-seguimiento::before{
content: "Mes     \a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0      Periodo" !important;
width:97px !important;
}

.menu-hidden{
display:none !important;
}

.check-descuento-opcion::before{
content: "Fijo\a0\a0\a0\a0__Pred." !important;
}
.descuento-azul{
    color: blue;
}
.descuento-negro{
    color: black;
}

.kardex-box{
width:100% !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#pantalla-cliente-venta{
  background-image: -webkit-linear-gradient(170deg, #C32A48 40%, white 60%);
}

#pantalla-cliente-venta #parte-blanca-roja{
	padding-left: 150px;
	padding-top: 50px;
	height: 370px;
}


#pantalla-cliente-venta .nombre{
	padding-left: 100px;
	margin-top: 70px;
	background: -webkit-linear-gradient(170deg, #C11732 91%, white 50%);
	font-size: 20px;
	font-family: arial;
	color: white;
  	
}
#pantalla-cliente-venta .nit{
	padding-left: 100px;
	background: -webkit-linear-gradient(170deg, #C11732 93%, white 35%);
	font-size: 20px;
	font-family: arial;
	color: white;
}

#pantalla-cliente-venta #circle{
  float: right;
  height: 287px;
  width: 287px;
  display: table-cell;
  text-align: center;
  font-size:20px;
  vertical-align: middle;
  border-radius: 50%;
  border-color: black;
  border-left-width: 2px;
  background-color: #C11732;
  
  
}

#pantalla-cliente-venta #circleGrande{
  float: left;
  height: 300px;
  width: 300px;
  display: table-cell;
  text-align: center;
  font-size:20px;
  vertical-align: middle;
  border-radius: 50%;
  border-color: black;
  border-left-width: 2px;
  background-color: black;
  
  box-shadow: 0 0 8px white;
}
#pantalla-cliente-venta #amarillo{
	color: yellow;
	font-family: arial;
}
#pantalla-cliente-venta #blanco{
	color: white;
	font-family: arial;
}

#pantalla-cliente-venta .superior #datos{
top:50px;
float: left;
width: 70%;
}

#pantalla-cliente-venta .superior #logo{
top:50px;
float: left;
width: 30%;
}

#pantalla-cliente-venta .detven{
text-align:center;
}

#dialog-panel-ventas .red-style .first-row{
border:thin solid red !important;
}

#dialog-panel-ventas .red-style-button{
    background-color: red !important;
    border-color: red !important;
    border-radius: 15px 50px;
}

#dialog-panel-ventas .red-style-button:hover{
    background-color: red !important;
    border-color: red !important;
}

#dialog-panel-ventas .red-style label{
color:red !important;
}

#dialog-panel-ventas .red-style input, #dialog-panel-ventas .red-style select, #dialog-panel-ventas .red-style input[disabled]{
color:white !important;
background-color:red !important; 	
}

#dialog-panel-ventas .red-style .swiper-slide{
	background-color: white !important;
	color:red !important;
	border: thin red solid !important;
}

#dialog-panel-ventas .red-style .nit-row label{
	color:white !important;
}

#dialog-panel-ventas .red-style .nit-row input,#dialog-panel-ventas .nit-row select,#dialog-panel-ventas .red-style .nit-row input[disabled]{
color:black !important;
background-color:white !important; 
}

#dialog-panel-ventas .red-style .nit-row{
	background-color:red !important; 
}

#dialog-panel-ventas .red-style .economico label{
color:white !important;
}

#dialog-panel-ventas .red-style .economico input, #dialog-panel-ventas .red-style .economico select,#dialog-panel-ventas .red-style .economico input[disabled]{
color:rgb(79, 153, 198) !important;
background-color:white !important; 
}

#dialog-panel-ventas .red-style .economico{
	background-color:rgb(79, 153, 198) !important; 
}

#dialog-panel-ventas .red-style .row-close{
	background-color:rgb(255,255,255) !important; 
}


#dialog-panel-ventas .green-style .first-row{
border:thin solid rgb(98, 155, 88) !important;
}

#dialog-panel-ventas .green-style-button{
    background-color: rgb(98, 155, 88) !important;
    border-color: rgb(98, 155, 88) !important;
    border-radius: 50px 15px;
}

#dialog-panel-ventas .green-style-button:hover{
    background-color: rgb(98, 155, 88) !important;
    border-color: rgb(13, 179, 133) !important;
}

#dialog-panel-ventas .green-style label{
color:rgb(98, 155, 88) !important;
}

#dialog-panel-ventas .green-style input, #dialog-panel-ventas .green-style select, #dialog-panel-ventas .green-style input[disabled]{
color:white !important;
background-color:rgb(98, 155, 88) !important; 	
}

#dialog-panel-ventas .green-style .swiper-slide{
	background-color: white !important;
	color:rgb(98, 155, 88) !important;
	border: thin rgb(98, 155, 88) solid !important;
}

#dialog-panel-ventas .green-style .nit-row label{
	color:white !important;
}

#dialog-panel-ventas .green-style .nit-row input,#dialog-panel-ventas .nit-row select,#dialog-panel-ventas .green-style .nit-row input[disabled]{
color:black !important;
background-color:white !important; 
}

#dialog-panel-ventas .green-style .nit-row{
	background-color:rgb(98, 155, 88) !important; 
}

#dialog-panel-ventas .green-style .economico label{
color:white !important;
}

#dialog-panel-ventas .green-style .economico input, #dialog-panel-ventas .green-style .economico select,#dialog-panel-ventas .green-style .economico input[disabled]{
color:red !important;
background-color:white !important; 
}

#dialog-panel-ventas .green-style .economico{
	background-color:red !important; 
}

#dialog-panel-ventas .green-style .row-close{
	background-color:rgb(255,255,255) !important; 
}


#dialog-panel-ventas .brown-style .first-row{
border:thin solid rgb(170, 37, 0) !important;
}

#dialog-panel-ventas .brown-style-button{
    background-color: rgb(170, 37, 0) !important;
    border-color: rgb(170, 37, 0) !important;
    border-radius: 50px 15px;
}

#dialog-panel-ventas .brown-style-button:hover{
    background-color: rgb(170, 37, 0) !important;
    border-color: rgb(170, 37, 0) !important;
}

#dialog-panel-ventas .brown-style label{
color:rgb(170, 37, 0) !important;
}

#dialog-panel-ventas .brown-style input, #dialog-panel-ventas .brown-style select, #dialog-panel-ventas .brown-style input[disabled]{
color:white !important;
background-color:rgb(170, 37, 0) !important; 	
}

#dialog-panel-ventas .brown-style .swiper-slide{
	background-color: white !important;
	color:rgb(170, 37, 0) !important;
	border: thin rgb(170, 37, 0) solid !important;
}

#dialog-panel-ventas .brown-style .nit-row label{
	color:white !important;
}

#dialog-panel-ventas .brown-style .nit-row input,#dialog-panel-ventas .nit-row select,#dialog-panel-ventas .brown-style .nit-row input[disabled]{
color:black !important;
background-color:white !important; 
}

#dialog-panel-ventas .brown-style .nit-row{
	background-color:rgb(170, 37, 0) !important; 
}

#dialog-panel-ventas .brown-style .economico label{
color:black !important;
}

#dialog-panel-ventas .brown-style .economico input, #dialog-panel-ventas .brown-style .economico select,#dialog-panel-ventas .brown-style .economico input[disabled]{
color:black !important;
background-color:white !important; 
}

#dialog-panel-ventas .brown-style .economico{
	background-color:yellow !important; 
}

#dialog-panel-ventas .brown-style .row-close{
	background-color:rgb(255,255,255) !important; 
}


#dialog-panel-ventas .skyblue-style .first-row{
border:thin solid rgb(79, 153, 198) !important;
}

#dialog-panel-ventas .skyblue-style-button{
    background-color: rgb(79, 153, 198) !important;
    border-color: rgb(79, 153, 198) !important;
    border-radius: 15px 50px;
}

#dialog-panel-ventas .skyblue-style-button:hover{
    background-color: rgb(79, 153, 198) !important;
    border-color: rgb(79, 153, 198) !important;
}

#dialog-panel-ventas .skyblue-style label{
color:rgb(79, 153, 198) !important;
}

#dialog-panel-ventas .skyblue-style input, #dialog-panel-ventas .skyblue-style select, #dialog-panel-ventas .skyblue-style input[disabled]{
color:white !important;
background-color:rgb(79, 153, 198) !important; 	
}

#dialog-panel-ventas .skyblue-style .swiper-slide{
	background-color: white !important;
	color:rgb(79, 153, 198) !important;
	border: thin rgb(79, 153, 198) solid !important;
}

#dialog-panel-ventas .skyblue-style .nit-row label{
	color:white !important;
}

#dialog-panel-ventas .skyblue-style .nit-row input,#dialog-panel-ventas .nit-row select,#dialog-panel-ventas .skyblue-style .nit-row input[disabled]{
color:black !important;
background-color:white !important; 
}

#dialog-panel-ventas .skyblue-style .nit-row{
	background-color:rgb(79, 153, 198) !important; 
}

#dialog-panel-ventas .skyblue-style .economico label{
color:white !important;
}

#dialog-panel-ventas .skyblue-style .economico input, #dialog-panel-ventas .skyblue-style .economico select,#dialog-panel-ventas .skyblue-style .economico input[disabled]{
color:red !important;
background-color:white !important; 
}

#dialog-panel-ventas .skyblue-style .economico{
	background-color:red !important; 
}

#dialog-panel-ventas .skyblue-style .row-close{
	background-color:rgb(255,255,255) !important; 
}
#dialog-panel-operaciones .red-style .first-row{
	border:thin solid red !important;
	}
	
	#dialog-panel-operaciones .red-style-button{
		background-color: red !important;
		border-color: red !important;
		border-radius: 15px 50px;
	}
	
	#dialog-panel-operaciones .red-style-button:hover{
		background-color: red !important;
		border-color: red !important;
	}
	
	#dialog-panel-operaciones .red-style label{
	color:red !important;
	}
	
	#dialog-panel-operaciones .red-style input, #dialog-panel-operaciones .red-style select, #dialog-panel-operaciones .red-style input[disabled]{
	color:white !important;
	background-color:red !important; 	
	}
	
	#dialog-panel-operaciones .red-style .swiper-slide{
		background-color: white !important;
		color:red !important;
		border: thin red solid !important;
	}
	
	#dialog-panel-operaciones .red-style .nit-row label{
		color:white !important;
	}
	
	#dialog-panel-operaciones .red-style .nit-row input,#dialog-panel-operaciones .nit-row select,#dialog-panel-operaciones .red-style .nit-row input[disabled]{
	color:black !important;
	background-color:white !important; 
	}
	
	#dialog-panel-operaciones .red-style .nit-row{
		background-color:red !important; 
	}
	
	#dialog-panel-operaciones .red-style .economico label{
	color:white !important;
	}
	
	#dialog-panel-operaciones .red-style .economico input, #dialog-panel-operaciones .red-style .economico select,#dialog-panel-operaciones .red-style .economico input[disabled]{
	color:rgb(79, 153, 198) !important;
	background-color:white !important; 
	}
	
	#dialog-panel-operaciones .red-style .economico{
		background-color:rgb(79, 153, 198) !important; 
	}
	
	#dialog-panel-operaciones .red-style .row-close{
		background-color:rgb(255,255,255) !important; 
	}
	
	
	#dialog-panel-operaciones .green-style .first-row{
	border:thin solid rgb(98, 155, 88) !important;
	}
	
	#dialog-panel-operaciones .green-style-button{
		background-color: rgb(98, 155, 88) !important;
		border-color: rgb(98, 155, 88) !important;
		border-radius: 50px 15px;
	}
	
	#dialog-panel-operaciones .green-style-button:hover{
		background-color: rgb(98, 155, 88) !important;
		border-color: rgb(13, 179, 133) !important;
	}
	
	#dialog-panel-operaciones .green-style label{
	color:rgb(98, 155, 88) !important;
	}
	
	#dialog-panel-operaciones .green-style input, #dialog-panel-operaciones .green-style select, #dialog-panel-operaciones .green-style input[disabled]{
	color:white !important;
	background-color:rgb(98, 155, 88) !important; 	
	}
	
	#dialog-panel-operaciones .green-style .swiper-slide{
		background-color: white !important;
		color:rgb(98, 155, 88) !important;
		border: thin rgb(98, 155, 88) solid !important;
	}
	
	#dialog-panel-operaciones .green-style .nit-row label{
		color:white !important;
	}
	
	#dialog-panel-operaciones .green-style .nit-row input,#dialog-panel-operaciones .nit-row select,#dialog-panel-operaciones .green-style .nit-row input[disabled]{
	color:black !important;
	background-color:white !important; 
	}
	
	#dialog-panel-operaciones .green-style .nit-row{
		background-color:rgb(98, 155, 88) !important; 
	}
	
	#dialog-panel-operaciones .green-style .economico label{
	color:white !important;
	}
	
	#dialog-panel-operaciones .green-style .economico input, #dialog-panel-operaciones .green-style .economico select,#dialog-panel-operaciones .green-style .economico input[disabled]{
	color:red !important;
	background-color:white !important; 
	}
	
	#dialog-panel-operaciones .green-style .economico{
		background-color:red !important; 
	}
	
	#dialog-panel-operaciones .green-style .row-close{
		background-color:rgb(255,255,255) !important; 
	}
	
	
	#dialog-panel-operaciones .brown-style .first-row{
	border:thin solid rgb(170, 37, 0) !important;
	}
	
	#dialog-panel-operaciones .brown-style-button{
		background-color: rgb(170, 37, 0) !important;
		border-color: rgb(170, 37, 0) !important;
		border-radius: 50px 15px;
	}
	
	#dialog-panel-operaciones .brown-style-button:hover{
		background-color: rgb(170, 37, 0) !important;
		border-color: rgb(170, 37, 0) !important;
	}
	
	#dialog-panel-operaciones .brown-style label{
	color:rgb(170, 37, 0) !important;
	}
	
	#dialog-panel-operaciones .brown-style input, #dialog-panel-operaciones .brown-style select, #dialog-panel-operaciones .brown-style input[disabled]{
	color:white !important;
	background-color:rgb(170, 37, 0) !important; 	
	}
	
	#dialog-panel-operaciones .brown-style .swiper-slide{
		background-color: white !important;
		color:rgb(170, 37, 0) !important;
		border: thin rgb(170, 37, 0) solid !important;
	}
	
	#dialog-panel-operaciones .brown-style .nit-row label{
		color:white !important;
	}
	
	#dialog-panel-operaciones .brown-style .nit-row input,#dialog-panel-operaciones .nit-row select,#dialog-panel-operaciones .brown-style .nit-row input[disabled]{
	color:black !important;
	background-color:white !important; 
	}
	
	#dialog-panel-operaciones .brown-style .nit-row{
		background-color:rgb(170, 37, 0) !important; 
	}
	
	#dialog-panel-operaciones .brown-style .economico label{
	color:black !important;
	}
	
	#dialog-panel-operaciones .brown-style .economico input, #dialog-panel-operaciones .brown-style .economico select,#dialog-panel-operaciones .brown-style .economico input[disabled]{
	color:black !important;
	background-color:white !important; 
	}
	
	#dialog-panel-operaciones .brown-style .economico{
		background-color:yellow !important; 
	}
	
	#dialog-panel-operaciones .brown-style .row-close{
		background-color:rgb(255,255,255) !important; 
	}
	
	
	#dialog-panel-operaciones .skyblue-style .first-row{
	border:thin solid rgb(79, 153, 198) !important;
	}
	
	#dialog-panel-operaciones .skyblue-style-button{
		background-color: rgb(79, 153, 198) !important;
		border-color: rgb(79, 153, 198) !important;
		border-radius: 15px 50px;
	}
	
	#dialog-panel-operaciones .skyblue-style-button:hover{
		background-color: rgb(79, 153, 198) !important;
		border-color: rgb(79, 153, 198) !important;
	}
	
	#dialog-panel-operaciones .skyblue-style label{
	color:rgb(79, 153, 198) !important;
	}
	
	#dialog-panel-operaciones .skyblue-style input, #dialog-panel-operaciones .skyblue-style select, #dialog-panel-operaciones .skyblue-style input[disabled]{
	color:white !important;
	background-color:rgb(79, 153, 198) !important; 	
	}
	
	#dialog-panel-operaciones .skyblue-style .swiper-slide{
		background-color: white !important;
		color:rgb(79, 153, 198) !important;
		border: thin rgb(79, 153, 198) solid !important;
	}
	
	#dialog-panel-operaciones .skyblue-style .nit-row label{
		color:white !important;
	}
	
	#dialog-panel-operaciones .skyblue-style .nit-row input,#dialog-panel-operaciones .nit-row select,#dialog-panel-operaciones .skyblue-style .nit-row input[disabled]{
	color:black !important;
	background-color:white !important; 
	}
	
	#dialog-panel-operaciones .skyblue-style .nit-row{
		background-color:rgb(79, 153, 198) !important; 
	}
	
	#dialog-panel-operaciones .skyblue-style .economico label{
	color:white !important;
	}
	
	#dialog-panel-operaciones .skyblue-style .economico input, #dialog-panel-operaciones .skyblue-style .economico select,#dialog-panel-operaciones .skyblue-style .economico input[disabled]{
	color:red !important;
	background-color:white !important; 
	}
	
	#dialog-panel-operaciones .skyblue-style .economico{
		background-color:red !important; 
	}
	
	#dialog-panel-operaciones .skyblue-style .row-close{
		background-color:rgb(255,255,255) !important; 
	}
.text-red{
	color:red;
}
.text-green{
	color:green;
}
.text-white{
	color:#FFFFFF;
}
.bg-yellow{
	background-color: #FFB752;
	border-bottom: 0px solid transparent;
	color: white;
}
.bg-green{
	background-color: #87B87F;
	border-bottom: 0px solid transparent;
	color: white;
}
.bg-red{
   background-color: #D15B47;
   color:#FFFFFF;
}
.bg-orange{
	background-color: orange;
	color:#FFFFFF;
 }
 .bg-orange-red{
	background-color: rgb(255, 102, 0);
	color:#FFFFFF;
 }
 .bg-orange-green{
	background-color: rgb(96, 165, 0);
	color:#FFFFFF;
 }
 .bg-blue{
	background-color: rgb(94, 91, 169);
	color:#FFFFFF;
 }
 .bg-brown{
	background-color: rgb(151, 98, 41);
	color:rgb(11, 11, 167);
 }
 .bg-lila{
	background-color: rgb(107, 91, 179);
	color:rgb(11, 11, 167);
 }
.bg-silver{
	background-color: rgb(140, 140, 140);
	border-bottom: 0px solid transparent;
	color: #2C1796;
}
.bg-black{
	background-color: rgb(53, 53, 53);
	border-bottom: 0px solid transparent;
	color: #2C1796;
}
.bg-sky-blue{
	background-color:	#31b0d5;
	border-bottom: 0px solid transparent;
	color: #FFFFFF;
}
.canvasjs-chart-credit {
   display: none;
}
.canvasjs-chart-trial {
   display: none;
}

.puntero{
	cursor: pointer;
}