<div class="modal-header bg-primary">
  <h4 class='smaller text-white text-uppercase'>
      <label>Definir Despacho General</label>
  </h4>
</div>
<div class="row">
  <div class="col-sm-12">
      <div class="form-group">
          <label for="ciudad">Transportista</label>
          <select ng-model="test" ng-options="gtm_transportista as gtm_transportista.persona.nombre_completo for gtm_transportista in gtm_transportistas"></select>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
      <div class="form-group">
          <label for="ciudad">Estibaje</label>
			<select ng-model="test1" ng-options="gtm_estibaje as gtm_estibaje.nombre for gtm_estibaje in gtm_estibajes"></select>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
      <div class="form-group">
		  <label for="ciudad">Grupo Estibaje</label>
			<select ng-model="test2" ng-options="gtm_grupo_estibaje as gtm_grupo_estibaje.nombre for gtm_grupo_estibaje in gtm_grupo_estibajes"></select>
      </div>
  </div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="modal-footer wizard-actions">
			<button class="btn btn-primary btn-sm" ng-click="guardarConceptoEdicion(tipo_edicion)">
				<i class="glyphicon glyphicon-floppy-disk"></i>Asignar
			</button>
			<button class="btn btn-danger btn-sm" ng-click="cerrarDialogConceptoEdicion()">
				<i class="ace-icon fa fa-times"></i>Cancelar
			</button>
		</div>
	</div>
</div>