<form name="asig" ng-submit="establecerDespacho(asignacion)">
<div class="modal-header bg-primary">
  <h4 class='smaller text-white text-uppercase'>
    <label>Definir Despacho General</label>
  </h4>
</div>

<div class="modal-body">
    <div class="form-group">
        <label for="ciudad">Fecha</label>
        <input autocomplete="off" ng-model="asignacion.fecha" required name="fecha" id="fecha" ng-update-hidden class="form-control date-picker" type="text" data-date-format="dd/mm/yyyy" >
      </div>
  <div class="form-group">
    <label for="ciudad">Transportista</label>
    <select required ng-model="asignacion.id_transportista" ng-options="gtm_transportista.id as gtm_transportista.persona.nombre_completo for gtm_transportista in gtm_transportistas|filter:{activo:true}"></select>
  </div>



  <div class="form-group">
    <label for="ciudad">Estibaje</label>
    <select required ng-model="asignacion.id_estibaje" ng-options="gtm_estibaje.id as gtm_estibaje.nombre for gtm_estibaje in gtm_estibajes|filter:{activo:true}"></select>
  </div>


  <div class="form-group">
    <label for="ciudad">Grupo Estibaje</label>
    <select required ng-model="asignacion.id_grupo_estibaje" ng-options="gtm_grupo_estibaje.id as gtm_grupo_estibaje.nombre for gtm_grupo_estibaje in gtm_grupo_estibajes|filter:{activo:true}"></select>
  </div>

</div>
<div class="modal-footer wizard-actions">
  <button ng-disabled="asig.$invalid" type="submit" class="btn btn-primary btn-sm">
    <i class="glyphicon glyphicon-floppy-disk"></i>Asignar y Guardar
  </button>
  <button type="button" class="btn btn-danger btn-sm" ng-click="cerrarAsignacionDespacho()">
    <i class="ace-icon fa fa-times"></i>Cancelar
  </button>
</div>

</form>