<div class="row">
	<div class="col-xs-12">
		<h3 class="header smaller lighter blue">REPORTE DE DESPACHOS</h3>
	</div>
	<div class="col-xs-12">
	<form name="formularioFiltroDespachos" novalidate ng-submit="paginator.getSearch(paginator.search,filtro,null)">
		<fieldset>
			<legend>Filtro de despachos
			</legend>

			<table class="table table-striped table-bordered table-hover">
				<tbody>
					<tr>
						<td>

						</td>
						<td>
							<label>Desde</label>&nbsp
						</td>
						<td>
							<label>Hasta</label>&nbsp
						</td>
						<td>
						</td>
						<td>
						</td>
					</tr>
					<tr>
						<td>
							<label>PERIODO</label>&nbsp
						</td>
						<td>
							<input required ng-update-hidden class="form-control date-picker" type="text" data-date-format="dd/mm/yyyy" id="fechainicio"
							 ng-model="filtro.inicio" placeholder="Ingrese la fecha inicial" />
						</td>
						<td>
							<input required ng-update-hidden class="form-control date-picker" type="text" data-date-format="dd/mm/yyyy" id="fechafin"
							 ng-model="filtro.fin" placeholder="Ingrese la fecha final" /> &nbsp
						</td>
						<td>
							<button type="submit" ng-disabled="formularioFiltroVentas.$invalid" class="btn btn-primary">
								<i class="ace-icon fa fa-plus align-top bigger-125"></i>
								Filtrar
							</button>
							<button id="pdf" ng-disabled="!ventas" class="btn btn-app btn-danger btn-xs" ng-click="imprimirFiltroCajaCartaOficio(ventas)">
								<i class="ace-icon fa fa-print bigger-160"></i>
								PDF
							</button>
							<button id="pdf" ng-disabled="!ventas" class="btn btn-app btn-success btn-xs" ng-click="imprimirFiltroExcelCajaCartaOficio(ventas)">
								<i class="ace-icon fa fa-print bigger-160"></i>
								Excel
							</button>

						</td>
						<td>
							<div>Detalle
								<input name="switch-field-1" class="ace ace-switch ace-switch-4 ng-valid ng-dirty ng-valid-parse ng-not-empty ng-touched"
								 type="checkbox" ng-model="opcionBimonetario2">
								<span class="lbl check-descuento"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							&nbsp
						</td>
						<td>
							<label>Trasportista</label>&nbsp
						</td>
						<td>
							<label>Tipo de estibaje</label>&nbsp
						</td>
						<td>
							<label>Grupo de estibaje</label>&nbsp
						</td>
						<td>
							<label>Estado</label>&nbsp
						</td>
					</tr>
					<tr>
						<td>
							FILTRO
						</td>
						<td>
							<input type="number" step="0.01" ng-model="filtro.transportista">
						</td>
						<td>
							<input type="text" ng-model="filtro.tipo">
							<!-- <select id='id_tipo' ng-model='filtro.tipo_estibaje' data-placeholder="Click para escoger" class="col-sm5" ng-options="cuentaTipo.id as cuentaTipo.nombre for cuentaTipo in tiposComprobantes">
								<option value="">--ninguno--</option>
							</select> -->
						</td>
						<td>
								<input type="text" ng-model="filtro.grupo">
							<!-- <select id="sucursal" name="sucursal" ng-model="filtro.grupo_estibaje" data-placeholder="Elija una sucursal" ng-options="sucursalFiltro.id as sucursalFiltro.nombre for sucursalFiltro in sucursales">
								<option value="">--ninguno--</option>
							</select> -->
						</td>
						<td>
							<input type="text" ng-model="filtro.estado">
						</td>						
					</tr>
				</tbody>
			</table>
		</fieldset>
	</form>
</div>
	<div class="clearfix">
		<div class="pull-right tableTools-container"></div>
	</div>
	<!--<div class="fileUpload btn btn-primary btn-success">
			<span class="fileUpload-button ace-icon fa fa-cloud-upload align-top bigger-125">&nbsp&nbspImportar</span>
			<input ng-disabled="!aplicacion.puede_crear" class="upload" type="file" custom-on-file-change="subirExcelClientes" />&nbsp&nbsp
		</div>
		<a href="/recursos/EJEMPLO-DATOS-CLIENTES.xlsx" class="btn btn-primary btn-danger">
			<i class="ace-icon fa fa-cloud-download align-top bigger-125"></i>
			Ejemplo Importacion
		</a>
		<div class="clearfix">
			<div class="pull-right tableTools-container"></div>
		</div>-->
	<div class="table-header">
		Lista de Despachos
	</div>

	<!-- div.table-responsive -->

	<!-- div.dataTables_borderWrap -->
	<div>
		<div class="dataTables_wrapper form-inline no-footer">
			<div class="row" ng-include src="'/templates/gral/paginator-header-1.html'">
			</div>

			<table id="tabla-destinos" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th class="center">
							N°
						</th>
						<th>Fecha</th>
						<th>Cliente</th>
						<th>Transportista</th>
						<th>Costo Transporte</th>
						<th>Grupo Estibaje</th>
						<th>Tipo Estibaje</th>
						<th>Costo Estibaje</th>
						<th>Factura</th>
						<th>Acciones</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="gtm_detalle_despacho in despachos">
						<td class="center">
							{{$index+1}}
						</td>
						<td>{{gtm_detalle_despacho.despacho.fecha | date:"dd/MM/yyyy"}}</td>
						<td>{{gtm_detalle_despacho.despacho.cliente.razon_social}}</td>
						<td>{{gtm_detalle_despacho.transportista.persona.nombre_completo}}</td>
						<td>{{gtm_detalle_despacho.transportista.costo_transporte}}</td>
						<td>{{gtm_detalle_despacho.grupo_estibaje.nombre}}</td>

						<td>{{gtm_detalle_despacho.estibaje.nombre}}</td>
						<td>{{gtm_detalle_despacho.estibaje.costo}}</td>

						<td>{{gtm_detalle_despacho.factura}}</td>
						<td>
							<div class="hidden-sm hidden-xs action-buttons">
								<a class="blue" href="javascript:void(0)" ng-click="imprimir(gtm_detalle_despacho)">
									<i class="ace-icon fa fa-print bigger-130"></i>
								</a>

								<a class="green" href="javascript:void(0)" ng-click="abrirModalAsignacionFactura(gtm_detalle_despacho)">
									<i class="ace-icon fa fa-unlock bigger-130"></i>
								</a>

								<a class="red" href="javascript:void(0)" ng-click="abrirPopupConfirmacionEliminacion(removerDetalleDespacho,gtm_detalle_despacho)">
									<i class="ace-icon fa fa-trash-o bigger-130"></i>
								</a>

							<div class="hidden-md hidden-lg">
								<div class="inline pos-rel">
									<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
										<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
									</button>

									<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
										<li>
											<a href="javascript:void(0)" ng-click="imprimir(gtm_detalle_despacho)" class="tooltip-info" data-rel="tooltip" title="View">
												<span class="blue">
													<i class="ace-icon fa fa-printer bigger-120"></i>
												</span>
											</a>
										</li>

										<li>
											<a href="javascript:void(0)" ng-click="abrirModalAsignacionFactura(gtm_detalle_despacho)" class="tooltip-success" data-rel="tooltip"
											 title="Edit">
												<span class="green">
													<i class="ace-icon fa fa-unlock bigger-120"></i>
												</span>
											</a>
										</li>

										<li>
											<a href="javascript:void(0)" e-disabled="!aplicacion.puede_eliminar" ng-click="mostrarConfirmacionEliminacion(cliente)" class="tooltip-error"
											 data-rel="tooltip" title="Delete">
												<span class="red">
													<i class="ace-icon fa fa-trash-o bigger-120"></i>
												</span>
											</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row" ng-include src="'/templates/gral/paginator.html'" ng-if="despachos.length > 0">
			</div>
		</div>
	</div>
</div>
</div>

<div id="modal-asignacion-factura">
	<div class="modal-header bg-primary">
		<h4 class='smaller text-white text-uppercase'>
			<label>Asignacion Factura</label>
		</h4>
	</div>
	<form name="asig" ng-submit="establecerFactura(detalle_despacho)">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="ciudad">N° Factura</label>
					<input type="number" required ng-model="detalle_despacho.factura">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="modal-footer wizard-actions">
					<button ng-disabled="asig.$invalid" type="submit" class="btn btn-primary btn-sm">
						<i class="glyphicon glyphicon-floppy-disk"></i>Asignar
					</button>
					<button type="button" class="btn btn-danger btn-sm" ng-click="cerrarAsignacionFactura()">
						<i class="ace-icon fa fa-times"></i>Cancelar
					</button>
				</div>
			</div>
		</div>
	</form>
</div>