<div class="row">
	<div class="col-xs-12">
		<h3 class="header smaller lighter blue">REPORTE DE DESPACHOS</h3>
	</div>
	<div class="col-xs-12">
		<form name="formularioFiltroDespachos" novalidate ng-submit="paginator.getSearch(paginator.search,filtro,null)">
			<fieldset>
				<legend>Filtro de despachos
				</legend>
				<div style="overflow-x:auto;">
					<table class="table table-striped table-bordered table-hover">
						<tbody>
							<tr>
								<td>

								</td>
								<td>
									<label>Desde</label>&nbsp
								</td>
								<td>
									<label>Hasta</label>&nbsp
								</td>
								<td>
								</td>
								<td>
								</td>
							</tr>
							<tr>
								<td>
									<label>PERIODO</label>&nbsp
								</td>
								<td>
									<input required ng-update-hidden class="form-control date-picker" type="text" data-date-format="dd/mm/yyyy" id="fechainicio"
									 ng-model="filtro.inicio" placeholder="Ingrese la fecha inicial" />
								</td>
								<td>
									<input required ng-update-hidden class="form-control date-picker" type="text" data-date-format="dd/mm/yyyy" id="fechafin"
									 ng-model="filtro.fin" placeholder="Ingrese la fecha final" /> &nbsp
								</td>
								<td>
									<button type="submit" ng-disabled="formularioFiltroVentas.$invalid" class="btn btn-primary">
										<i class="ace-icon fa fa-plus align-top bigger-125"></i>
										Filtrar
									</button>
									<button id="pdf" class="btn btn-app btn-danger btn-xs" ng-click="imprimirPdfDespachos()">
										<i class="ace-icon fa fa-print bigger-160"></i>
										PDF
									</button>
									<button id="exel" class="btn btn-app btn-success btn-xs" ng-click="imprimirExelDespachos()">
										<i class="ace-icon fa fa-print bigger-160"></i>
										Excel
									</button>

								</td>
								<td>
									<div>Detalle
										<input name="switch-field-1" class="ace ace-switch ace-switch-4 ng-valid ng-dirty ng-valid-parse ng-not-empty ng-touched"
										 type="checkbox" ng-model="opcionBimonetario2">
										<span class="lbl check-descuento"></span>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									&nbsp
								</td>
								<td>
									<label>Trasportista</label>&nbsp
								</td>
								<td>
									<label>Tipo de estibaje</label>&nbsp
								</td>
								<td>
									<label>Grupo de estibaje</label>&nbsp
								</td>
								<td>
									<label>Estado</label>&nbsp
								</td>
								<td>
									<label>Vendedor</label>&nbsp
								</td>
								<!-- <td>
									<label>Cliente</label>&nbsp
								</td> -->
							</tr>
							<tr>
								<td>
									FILTRO
								</td>
								<td>
									<input type="text" ng-model="filtro.transportista">
								</td>
								<td>
									<input type="text" ng-model="filtro.tipo">
									<!-- <select id='id_tipo' ng-model='filtro.tipo_estibaje' data-placeholder="Click para escoger" class="col-sm5" ng-options="cuentaTipo.id as cuentaTipo.nombre for cuentaTipo in tiposComprobantes">
								<option value="">--ninguno--</option>
							</select> -->
								</td>
								<td>
									<input type="text" ng-model="filtro.grupo">
									<!-- <select id="sucursal" name="sucursal" ng-model="filtro.grupo_estibaje" data-placeholder="Elija una sucursal" ng-options="sucursalFiltro.id as sucursalFiltro.nombre for sucursalFiltro in sucursales">
								<option value="">--ninguno--</option>
							</select> -->
								</td>
								<td>
									<input type="text" ng-model="filtro.estado">
								</td>
								<td>
									<input type="text" ng-model="filtro.vendedor">
								</td>
								<!-- <td>
									<input type="text" ng-model="paginator.search">
								</td> -->
							</tr>
						</tbody>
					</table>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="clearfix">
		<div class="pull-right tableTools-container"></div>
	</div>
	<!--<div class="fileUpload btn btn-primary btn-success">
			<span class="fileUpload-button ace-icon fa fa-cloud-upload align-top bigger-125">&nbsp&nbspImportar</span>
			<input ng-disabled="!aplicacion.puede_crear" class="upload" type="file" custom-on-file-change="subirExcelClientes" />&nbsp&nbsp
		</div>
		<a href="/recursos/EJEMPLO-DATOS-CLIENTES.xlsx" class="btn btn-primary btn-danger">
			<i class="ace-icon fa fa-cloud-download align-top bigger-125"></i>
			Ejemplo Importacion
		</a>
		<div class="clearfix">
			<div class="pull-right tableTools-container"></div>
		</div>-->
	<div class="table-header" ng-class="{'myOwnBg': verDatosCobroDespachos == true}">
		<span ng-if="!verDatosCobroDespachos">Lista de Despachos</span>
		<span ng-if="verDatosCobroDespachos">Lista de Cobros</span>
		<div class=" pos-rel pull-left">
			<a ng-if="!verDatosCobroDespachos" href="javascript:void(0)" data-rel="tooltip" tooltip-placement="right" uib-tooltip="Ver Info. Cobros"
			 ng-click="verDatosCobros()">
				<span class="fa fa-money fa-2x text-white margin-0-5"></span>
			</a>
			<a ng-if="verDatosCobroDespachos" href="javascript:void(0)" data-rel="tooltip" tooltip-placement="right" uib-tooltip="Ver info. Despacho"
			 ng-click="verDatosCobros()">
				<span class="fa fa-info-circle fa-2x text-white margin-0-5"></span>
			</a>
		</div>
		<div class="inline pos-rel pull-right">

			<span ng-if="verDatosCobroDespachos">Producto: &nbsp{{totalesDespachos.producto|number:2}}&nbsp&nbsp&nbsp&nbsp </span>
			<span ng-if="verDatosCobroDespachos">S Trasporte: &nbsp{{totalesDespachos.servicio_transporte|number:2}}&nbsp&nbsp&nbsp&nbsp</span>
			<span ng-if="verDatosCobroDespachos">Total: &nbsp{{totalesDespachos.total|number:2}}&nbsp&nbsp&nbsp&nbsp</span>
			<a class="green pull-right" href="javascript:void(0)" ng-click="abrirModalVentaKardexFactura()">
				<i class="fa fa-unlock fa-2x text-white margin-0-5"></i>
			</a>
		</div>

	</div>

	<!-- div.table-responsive -->

	<!-- div.dataTables_borderWrap -->
	<div>
		<div class="dataTables_wrapper form-inline no-footer">
			<div class="row" ng-include src="'/templates/gral/paginator-header-1.html'">
			</div>
			<div style="overflow-x:auto;">
				<table id="tabla-destinos" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th class="center">
								N°
							</th>
							<th>Fecha</th>
							<th>N° Despacho</th>
							<th>Vendedor</th>
							<th>Cliente</th>
							<th>S. Transporte</th>
							<th ng-if="!verDatosCobroDespachos">Transportista</th>
							<th ng-if="!verDatosCobroDespachos">Costo Transporte</th>
							<th ng-if="!verDatosCobroDespachos">Grupo Estibaje</th>
							<th ng-if="!verDatosCobroDespachos">Tipo Estibaje</th>
							<th ng-if="!verDatosCobroDespachos">Costo Estibaje</th>

							<th ng-if="verDatosCobroDespachos">Producto</th>
							<th ng-if="verDatosCobroDespachos">Total</th>
							<th ng-if="verDatosCobroDespachos">Pago ac</th>
							<th ng-if="verDatosCobroDespachos">Saldo</th>
							<th ng-if="verDatosCobroDespachos">Estado</th>
							<th>Factura</th>
							<th>Acciones</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="gtm_detalle_despacho in despachos">
							<td class="center">
								{{$index+1}}
							</td>
							<td>{{gtm_detalle_despacho.fecha | date:"dd/MM/yyyy"}}</td>
							<td class="center">
									{{gtm_detalle_despacho.numero_correlativo}}
								</td>
							<td>{{gtm_detalle_despacho.despacho.usuario.persona.nombre_completo}}</td>
							<td>{{gtm_detalle_despacho.despacho.cliente.razon_social}}</td>
							<td>{{gtm_detalle_despacho.servicio_transporte}}</td>
							<td ng-if="!verDatosCobroDespachos">{{gtm_detalle_despacho.transportista.persona.nombre_completo}}</td>
							<td ng-if="!verDatosCobroDespachos">{{gtm_detalle_despacho.transportista.costo_transporte*gtm_detalle_despacho.cantidad_despacho|number:2}}</td>
							<td ng-if="!verDatosCobroDespachos">{{gtm_detalle_despacho.grupo_estibaje.nombre}}</td>

							<td ng-if="!verDatosCobroDespachos">{{gtm_detalle_despacho.estibaje.nombre}}</td>
							<td ng-if="!verDatosCobroDespachos">{{gtm_detalle_despacho.estibaje.costo*gtm_detalle_despacho.cantidad_despacho|number:2}}</td>


							<td ng-if="verDatosCobroDespachos">
								{{gtm_detalle_despacho.precio_unitario*gtm_detalle_despacho.cantidad_despacho|number:2}}
							</td>
							<td ng-if="verDatosCobroDespachos">
								{{gtm_detalle_despacho.total|number:2}}
							</td>
							<td ng-if="verDatosCobroDespachos">
								{{gtm_detalle_despacho.pago_ac|number:2}}
							</td>
							<td ng-if="verDatosCobroDespachos">
								{{gtm_detalle_despacho.saldo_pago_ac|number:2}}
							</td>
							<td ng-if="verDatosCobroDespachos">
								<p ng-if="gtm_detalle_despacho.saldo_pago_ac==gtm_detalle_despacho.total">
									<span class="label label-danger arrowed-in arrowed-in-right">Deuda</span>
								</p>
								<p ng-if="gtm_detalle_despacho.saldo_pago_ac>0 && gtm_detalle_despacho.total>gtm_detalle_despacho.saldo_pago_ac">
									<span class="label label-warning arrowed-in arrowed-in-right">Parcial</span>
								</p>
								<p ng-if="gtm_detalle_despacho.saldo_pago_ac==0">
									<span class="label label-success arrowed-in arrowed-in-right">Pagado</span>
								</p>

							</td>
							<td>{{gtm_detalle_despacho.factura}}</td>
							<td>
								<div class="action-buttons">
									<a class="blue" href="javascript:void(0)" ng-click="imprimir(gtm_detalle_despacho)">
										<i class="ace-icon fa fa-print bigger-130"></i>
									</a>

									<a class="green" e-disabled="!aplicacion.puede_modificar" ng-if="!gtm_detalle_despacho.factura" href="javascript:void(0)"
									 ng-click="abrirModalAsignacionFactura(gtm_detalle_despacho)">
										<i class="ace-icon fa fa-unlock bigger-130"></i>
									</a>
									<a class="red" e-disabled="!aplicacion.puede_modificar" ng-if="gtm_detalle_despacho.factura" href="javascript:void(0)" ng-click="abrirModalVerificarCuenta(gtm_detalle_despacho,'despacho')">
										<i class="ace-icon fa fa-lock bigger-130"></i>
									</a>

									<a class="green" href="javascript:void(0)" ng-click="abrirModalCobros(gtm_detalle_despacho)">

										<i class="fa fa-dollar green bigger-130"></i>
									</a>

									<!-- <a href="javascript:void(0)" ng-if="gtm_detalle_despacho.resivo" ng-click="imprimir(gtm_detalle_despacho)">
											<span class="fa-stack">
												<i class="fa fa-dollar green fa-stack-3x bigger-130"></i>
												<i class="ace-icon fa fa-h-square  bigger-110"></i>
		
											</span>
										</a> -->
									<a class="red" e-disabled="!aplicacion.puede_eliminar" ng-if="!gtm_detalle_despacho.factura" href="javascript:void(0)" ng-click="abrirPopupConfirmacionEliminacion(removerDetalleDespacho,gtm_detalle_despacho)">
										<i class="ace-icon fa fa-trash-o bigger-130"></i>
									</a>

									<!-- 	<div class="hidden-md hidden-lg">
									<div class="inline pos-rel">
										<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
											<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
										</button>

										<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
											<li>
												<a href="javascript:void(0)" ng-click="imprimir(gtm_detalle_despacho)" class="tooltip-info" data-rel="tooltip" title="View">
													<span class="blue">
														<i class="ace-icon fa fa-printer bigger-120"></i>
													</span>
												</a>
											</li>

											<li>
												<a href="javascript:void(0)" ng-click="abrirModalAsignacionFactura(gtm_detalle_despacho)" class="tooltip-success" data-rel="tooltip"
												 title="Edit">
													<span class="green">
														<i class="ace-icon fa fa-unlock bigger-120"></i>
													</span>
												</a>
											</li>

											<li>
												<a href="javascript:void(0)" e-disabled="!aplicacion.puede_eliminar" ng-click="mostrarConfirmacionEliminacion(cliente)" class="tooltip-error"
												 data-rel="tooltip" title="Delete">
													<span class="red">
														<i class="ace-icon fa fa-trash-o bigger-120"></i>
													</span>
												</a>
									</div>
								</div> -->
							</td>
						</tr>
					</tbody>
				</table>
				</div>
				<div class="row" ng-include src="'/templates/gral/paginator.html'" ng-if="despachos.length > 0">
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modal-asignacion-factura">
	<form name="asig" ng-submit="establecerFactura(detalle_despacho)">
		<div class="modal-header bg-primary">
			<h4 class='smaller text-white text-uppercase'>
				<label>Asignacion Factura</label>
			</h4>
		</div>

		<div class="modal-body">

			<div class="form-group">
				<label for="ciudad">N° Factura</label>
				<input type="number" required ng-model="detalle_despacho.factura" ng-model-options="{updateOn: 'submit'}" class="form-control">
			</div>


			<div class="form-group">
				<label for="ciudad">Fecha</label>
				<input type="text" data-date-format="dd/mm/yyyy" ng-update-hidden class="date-picker form-control" ng-model="detalle_despacho.fecha_factura">
			</div>

		</div>

		<div class="modal-footer wizard-actions">
			<button type="submit" class="btn btn-primary btn-sm">
				<i class="glyphicon glyphicon-floppy-disk"></i>Asignar
			</button>
			<button type="button" class="btn btn-danger btn-sm" ng-click="cerrarAsignacionFactura()">
				<i class="ace-icon fa fa-times"></i>Cancelar
			</button>
		</div>

	</form>
</div>
<div id="modal-asignacion-factura-kardex">
	<div class="modal-header bg-primary">
		<h4 class='smaller text-white text-uppercase'>
			<label>Asignacion Factura</label>
		</h4>
	</div>
	<form name="asig" ng-submit="establecerFacturaKardex(detalle_kardex)">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="ciudad">N° Factura</label>
					<input type="number" required ng-model-options="{updateOn: 'blur'}" ng-model="detalle_kardex.factura">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="modal-footer wizard-actions">
					<button type="submit" class="btn btn-primary btn-sm">
						<i class="glyphicon glyphicon-floppy-disk"></i>Asignar
					</button>
					<button type="button" class="btn btn-danger btn-sm" ng-click="cerrarAsignacionFacturaKardex()">
						<i class="ace-icon fa fa-times"></i>Cancelar
					</button>
				</div>
			</div>
		</div>
	</form>
</div>

<div id="modal-detalle-kardex">
	<div class="modal-header bg-primary">
		<h4 class='smaller text-white text-uppercase'>
			<label>Observaciones</label>
		</h4>
	</div>
	<div class="modal-body">

		<p align="center" class="text-primary">{{kardex.cliente.razon_social}}</p>
		<!-- <table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>N°</th>
					<th>fecha</th>
					<th>producto</th>
					<th>cantidad</th>
					<th>P/U</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="hijoKardex in kardex.detalles_kardex[0].hijosDetalle track by $index">
					<td>{{$index+1}}</td>
					<td>{{hijoKardex.fecha |date:'dd/MM/yyyy'}}</td>
					<td>{{hijoKardex.producto.nombre}}</td>
					<td>{{hijoKardex.cantidad_despachada}}</td>
					<td>{{hijoKardex.producto.precio_unitario}}</td>
					<td>{{hijoKardex.cantidad_despachada*hijoKardex.producto.precio_unitario}}</td>

				</tr>

			</tbody>
		</table> -->
		<p>{{kardex.observacion}}</p>
	</div>
	<div class="modal-footer wizard-actions">
		<button type="button" class="btn btn-primary btn-sm">
			<i class=" fa fa-print align-top "></i>
			Pdf
		</button>
		<button type="button" class="btn btn-danger btn-sm" ng-click="cerrarDetalleKardex()">
			<i class="ace-icon fa fa-times"></i>Cancelar
		</button>
	</div>
</div>
<div id="modal-venta-kardex-factura">
	<div class="modal-header bg-primary">
		<h4 class='smaller text-white text-uppercase'>
			<i class='icono-prerequisito'></i>
			<label> &nbsp;Factura Kardex </label>
		</h4>
	</div>
	<div class="modal-body">
		<form ng-submit="obtenerVentaKardexFactura(filtroVentaKardex)">
			<div class="row">
				<div class="form-group col-sm-3">
					<label for="nombres">Desde</label>
					<input type="text" class="form-control date-picker" autocomplete="off" ng-update-hidden ng-model="filtroVentaKardex.inicio"
					 data-date-format="dd/mm/yyyy" placeholder="Desde">
				</div>
				<div class="form-group col-sm-3">
					<label for="ap-paterno">Hasta</label>
					<input type="text" class="form-control date-picker" autocomplete="off" ng-update-hidden ng-model="filtroVentaKardex.fin"
					 data-date-format="dd/mm/yyyy" placeholder="Hasta">
				</div>
				<div class="form-group col-sm-2">

					<!-- <label>
						
					</label> -->

					<label>
						<b>Pendientes</b>
						<input ng-value="true" name="switch-field-1" autofocus class="ace ace-switch ace-switch-4 ng-pristine ng-untouched ng-valid ng-empty"
						 type="checkbox" ng-model="filtroVentaKardex.pendiente">
						<span class="lbl check-descuento"></span>
					</label>


				</div>
				<div class="form-group col-sm-4">
					<div class="buttons-align">
						<button type="submit" class="btn btn-primary btn-sm">
							<i class=" fa fa-search-plus align-top "></i>
							Filtrar
						</button>
					</div>
				</div>
			</div>
		</form>
		<div class="table-fixed-header">
			<table class="table table-striped table-bordered table-hover ">
				<thead fix-head class="table-head-color">
					<tr>
						<th>N°</th>
						<th>Fecha</th>
						<th>Usuario</th>
						<th>Cliente</th>
						<th>Producto</th>
						<th>Cantidad</th>
						<th>P/u</th>
						<th>Total</th>
						<th>Pedidos</th>
						<th>Saldo</th>
						<th>Factura</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="kardex in detalleKardexFactura track by $index">
						<td>{{$index+1}}</td>
						<td>{{kardex.fecha |date:'dd/MM/yyyy'}}</td>
						<td>{{kardex.usuario.persona.nombre_completo}}</td>
						<td>{{kardex.cliente.razon_social}}</td>
						<td>{{kardex.detalles_kardex[0].producto.nombre}}</td>
						<td>{{kardex.detalles_kardex[0].cantidad}}</td>
						<td>{{kardex.detalles_kardex[0].producto.precio_unitario}}</td>
						<td>{{kardex.detalles_kardex[0].cantidad*kardex.detalles_kardex[0].precio_unitario}}</td>
						<td>{{kardex.detalles_kardex[0].cantidad-kardex.detalles_kardex[0].saldo}}</td>
						<td>{{kardex.detalles_kardex[0].saldo}}</td>
						<td>{{kardex.detalles_kardex[0].factura}}</td>
						<td>
							<a class="green" ng-if="!kardex.detalles_kardex[0].factura" href="javascript:void(0)" ng-click="abrirModalAsignacionFacturaKardex(kardex.detalles_kardex[0])">
								<i class="ace-icon fa fa-unlock bigger-130"></i>
							</a>
							<a class="red" ng-if="kardex.detalles_kardex[0].factura" href="javascript:void(0)" ng-click="abrirModalVerificarCuenta(kardex.detalles_kardex[0],'despachoKardex')">
								<i class="ace-icon fa fa-lock bigger-130"></i>
							</a>
							<a class="blue">
								<i class="ace-icon fa fa-folder-open bigger-130" ng-click="abrirModalDetalleKardex(kardex)"></i>
							</a>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer wizard-actions">
		<button class="btn btn-danger btn-sm" ng-click="cerrarVentaKardexFactura()">
			<i class="ace-icon fa fa-times"></i>Cancelar
		</button>
	</div>
</div>
<!-- inicio confirmar usuario -->
<div id="modal-verificar-cuenta" title="Asignar Cuenta">
	<form name="formularioAsignarCuenta" ng-submit="verificarCuentaAdmin(cuenta,$index)">
		<div class="modal-header">
			<p>
				<h3>Verificar Cuenta</h3>
			</p>
		</div>
		<div class="modal-body">
			<div>
				<span>Nombre Usuario: </span>
				<input required class="form-control" type="text" ng-model="cuenta.nombre_usuario">
			</div>
			<div>
				<span>Clave</span>
				<input required class="form-control" type="password" name="contra" ng-model="cuenta.clave">
			</div>
		</div>
		<div class="modal-footer">
			<div class="col-sm-6">
				<button type="submit" class="btn btn-success">Guardar</button>
			</div>


			<div class="col-sm-6">
				<button type="button" class="btn btn-danger" ng-click="cerrarModalVerificarCuenta()">Cancelar</button>
			</div>
		</div>
	</form>
</div>
<!-- fin confirmar usuario -->

<div id="modal-cobros" title="Asignar Cuenta" class="modal">
	<form name="formularioAsignarCuenta" ng-submit="crearDespachoResivo(detalle_despacho.resivo)">
		<div class="modal-header bg-success">
			<p>
				<h4 class="modal-title text-center">RECIBO DE INGRESO</h4>
				<p class="text-center">
					<b>{{detalle_despacho.despacho.cliente.razon_social}}&nbsp;</b>
				</p>
				<p class="text-center">
					<b>Pedido Nro. {{detalle_despacho.numero_correlativo}}&nbsp;</b>
				</p>
			</p>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-2">
						<p>Sucursal.:</p>
					</div>
					<div class="col-md-10">

						<select required class="form-control" required ng-model="detalle_despacho.resivo.sucursal" ng-options="sucursal as sucursal.nombre for sucursal in sucursales">
							<option value="">--Seleccionar--</option>
						</select>
					</div>
				</div>
				<div class="col-md-8">

					<div class="col-md-3">
						<p>Usuario.:</p>
					</div>
					<div class="col-md-9">
						<p>{{detalle_despacho.despacho.usuario.persona.nombre_completo}}&nbsp;</p>
					</div>
					<div class="col-md-3">
						<p>Factura.:</p>
					</div>
					<div class="col-md-9">
						<p>{{detalle_despacho.despacho.cliente_razon.razon_social}}&nbsp;</p>
					</div>

					<div class="col-md-3">
						<p>Nit.:</p>
					</div>
					<div class="col-md-9">
						<p>{{detalle_despacho.despacho.cliente.nit}}&nbsp;</p>
					</div>


					<div class="col-md-3">
						<p>Detalle.:</p>
					</div>
					<div class="col-md-9">
						<p>{{detalle_despacho.cantidad_despacho}} {{detalle_despacho.producto.nombre.toUpperCase()}}&nbsp;</p>
					</div>

					<div class="col-md-3">
						<p>Fecha.:</p>
					</div>
					<div class="col-md-9">
						<input type="text" required style="width:180px;" class="form-control date-picker" ng-model="detalle_despacho.resivo.fecha"
						 data-date-format="dd/mm/yyyy" ng-update-hidden>
					</div>
				</div>
				<div class="col-md-4">
					<a href="javascript:void(0)" ng-click="verinfo=(verinfo)?false:true">
						<i class="fa fa-exclamation-circle bigger-160 red"></i>
					</a>
					<div ng-show="verinfo" class="row" style="border: thin solid green">

						<p class="col-sm-6">Producto</p>
						<p class="col-sm-6">{{detalle_despacho.precio_unitario*detalle_despacho.cantidad_despacho|number:2}}</p>
						<p class="col-sm-6">Servicio</p>
						<p class="col-sm-6">{{detalle_despacho.servicio_transporte|number:2}}</p>
						<p class="col-sm-6">
							<b>TOTAL</b>
						</p>
						<p class="col-sm-6">{{detalle_despacho.total|number:2}}</p>
						<P class="col-sm-12 red">Pago a/c</P>
						<P class="col-sm-6">Total Pagos</P>
						<p class="col-sm-6">{{detalle_despacho.pago_ac|number:2}}</p>
						<p class="col-sm-6 red">
							<b>Saldo bs.</b>
						</p>
						<p class="col-sm-6">
							<b>{{detalle_despacho.saldo_pago_ac|number:2}}</b>
						</p>


					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-2">
						<p>Monto.:</p>
					</div>
					<div class="col-md-4">
						<input type="number" ng-if="detalle_despacho.resivo.tipo_moneda" step="0.01" ng-change="montoDolar(detalle_despacho)" max="{{detalle_despacho.saldo_pago_ac}}"
						 required ng-model="detalle_despacho.resivo.monto" class="form-control">
						<input type="number" ng-if="!detalle_despacho.resivo.tipo_moneda" step="0.01" ng-change="CalcularMontoEnDolar(detalle_despacho)"
						 ng-change="montoDolar(detalle_despacho)" max="{{detalle_despacho.resivo.maxmonto_dolar}}" required ng-model="detalle_despacho.resivo.monto_dolar"
						 class="form-control">
						<p ng-if="!detalle_despacho.resivo.tipo_moneda">
							<b>{{detalle_despacho.resivo.monto|number:2}} Bs.</b>
						</p>
					</div>
					<div class="col-md-2">
						<div class="center-block width150">
							<label>
								<input name="" autofocus ng-model="detalle_despacho.resivo.tipo_moneda" class="ace ace-switch ace-switch-5 big-switch" type="checkbox"
								 ng-model="filtroBeneficioEmpresa.tipo" ng-change="CalcularMontoEnDolar(detalle_despacho)">
								<span class="lbl" data-lbl="&nbsp;&nbsp;&nbsp;&nbsp;Bs.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sus."></span>
							</label>
						</div>
					</div>
					<div class="col-md-4">
						<input required ng-change="CalcularMontoEnDolar(detalle_despacho)" step="0.01" ng-if="!detalle_despacho.resivo.tipo_moneda"
						 type="number" class="form-control" ng-model="detalle_despacho.resivo.cambio_moneda">
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-2">
						<p>Concept.:</p>
					</div>
					<div class="col-md-10">
						<textarea required class="form-control" ng-model="detalle_despacho.resivo.concepto" cols="30" rows="2"></textarea>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-2">
						<p>tipo.:</p>
					</div>
					<div class="col-md-4">
						<!--< select required ng-options="tipoPago as tipoPago.nombre for tipoPago in tiposPagosResivo track by tipoPago.id"
						 ng-model="detalle_despacho.resivo.tipoPago"><option value="">--Seleccionar--</option></select> -->
						<div class="control-group">

							<div class="radio" ng-repeat="pago in tiposPagosResivo track by pago.id">
								<label>

									<input required name="form-field-radio" ng-value="pago" ng-selected="tiposPagosResivo[0]" ng-model="detalle_despacho.resivo.tipoPago"
									 type="radio" class="ace">
									<span class="lbl">{{pago.nombre}}</span>
								</label>
							</div>

						</div>
					</div>
					<div class="col-md-6" ng-if="detalle_despacho.resivo.tipoPago.nombre=='DEPOSITO' || detalle_despacho.resivo.tipoPago.nombre=='CHEQUE'">
						<p>Numero Cuenta.:</p>
						<input type="text" required ng-model="detalle_despacho.resivo.numero_cuenta" class="form-control">
					</div>
					<div class="col-md-6 input-group" ng-if="detalle_despacho.resivo.tipoPago.nombre=='DEPOSITO' || detalle_despacho.resivo.tipoPago.nombre=='CHEQUE'">
						<p>Banco.:</p>
						<select required ng-if="detalle_despacho.resivo.tipoPago.nombre=='DEPOSITO'" ng-model="detalle_despacho.resivo.banco" class="form-control"
						 id="motivo-retiro" name="motivo-retiro" ng-options="cuenta as (cuenta.nombre+'- cuenta: '+cuenta.numero) for cuenta in cuentasBancos track by cuenta.id">
							<option value="">Ninguno</option>
						</select>
						<span ng-if="detalle_despacho.resivo.tipoPago.nombre=='CHEQUE'" class="input-group-addon glyphicon glyphicon-pencil point-edit green"
						 ng-click="abrirDialogConceptoEdicion(otrosBancos)"></span>
						<select ng-if="detalle_despacho.resivo.tipoPago.nombre=='CHEQUE'" required class="form-control" style="width:150px" ng-options="banco as banco.nombre for banco in otrosBancos.clases | filter:{habilitado:true} track by banco.id"
						 ng-model="detalle_despacho.resivo.otroBanco">
							<option value="">Ninguno</option>
						</select>

					</div>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<button ng-disabled="!aplicacion.puede_crear" ng-if="detalle_despacho.saldo_pago_ac>0" type="submit" class="btn btn-success">
				<i class="ace-icon fa fa-floppy-o bigger-160"></i>Guardar</button>

			<button type="button" class="btn btn-danger pull-left" ng-click="cerrarModalCobros()">
				<i class="ace-icon fa fa-times-circle bigger-160"></i>Cancelar</button>
			<button type="button" ng-click="abrirModalHistorialCobros()" class="btn btn-white  btn-bold btn-danger pull-left ">
				<i class="ace-icon fa fa-h-square  bigger-210"></i>Historial
			</button>
		</div>
</div>
</form>
</div>
<div id="modal-historial-cobros" title="Asignar Cuenta" class="modal">
	<div class="modal-header bg-success">
		<h4>HISTORIAL DE RECIBOS DESPACHO</h4>
	</div>
	<div class="modal-body">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>N°</th>
					<th>Fecha</th>
					<th>tipo Moneda</th>
					<th>Cambio Moneda</th>
					<th>Monto</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="recivo in detalle_despacho.recivos track by $index">
					<td>{{$index+1}}</td>
					<td>{{recivo.fecha|date:'dd/MM/yyyy'}}</td>
					<td ng-if="recivo.tipo_moneda">Bolivanos.</td>
					<td ng-if="!recivo.tipo_moneda">Dolares.</td>
					<td ng-if="recivo.tipo_moneda"></td>
					<td ng-if="!recivo.tipo_moneda">{{recivo.cambio_moneda}} Bs.</td>
					<td ng-if="recivo.tipo_moneda">{{recivo.monto|number:2}} Bs.</td>
					<td ng-if="!recivo.tipo_moneda">{{recivo.monto|number:2}} Sus.({{recivo.monto*recivo.cambio_moneda|number:2}} Bs.)</td>
					<td ng-if="recivo.eliminado">
						<span class="label label-sm label-warning">Anulado</span>
					</td>
					<td ng-if="!recivo.eliminado">
						<span class="label label-sm label-success">Activo</span>
					</td>
					<td>
						<a class="blue" href="javascript:void(0)" ng-click="imprimirResivo(recivo)">
							<i class="ace-icon fa fa-print bigger-130"></i>
						</a>
						<a e-disabled="!aplicacion.puede_modificar" ng-if="$index===detalle_despacho.recivos.length-1 && recivo.eliminado ==false"
						 class="green" href="javascript:void(0)" ng-click="abrirModalVerificarCuenta(recivo,'EditarDespachoResivo')">
							<i class="ace-icon fa fa-pencil bigger-130"></i>
						</a>
						<a e-disabled="!aplicacion.puede_eliminar" ng-if="$index===detalle_despacho.recivos.length-1 && recivo.eliminado ==false"
						 class="red" href="javascript:void(0)" ng-click="abrirModalVerificarCuenta(recivo,'EliminarDespachoResivo')">
							<i class="ace-icon fa fa-trash-o bigger-130"></i>
						</a>


					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger pull-left" ng-click="cerrarModalHistorialCobros()">
			<i class="ace-icon fa fa-times-circle bigger-160"></i>Cancelar</button>

	</div>
</div>
<div id="dialog-conceptos" class="modal" ng-include src="'/templates/gral/concepto-edicion.html'"></div>